<main>
<div id="signupmail">
<div id="login_related">
  <div class="inner_min">
    <div class="logo">
      <%= image_tag "/common/os-logo.svg", alt: "PARCOM OS" %>
    </div>
    <div class="login_related_content">
      <h1>パスワード再設定フォーム</h1>
        <%= form_with(model: @user, url: password_reset_path(params[:id]), local: true) do |form| %>
      	<div class="txt_field">
            <dt class="form_term">新しいパスワード</dt>
                <dd class="form_description"><%= form.password_field :password, placeholder: "パスワード", required: true %></dd>
            <dt class="form_term">新しいパスワード（確認用）</dt>
      		    <dd class="form_description"><%= form.password_field :password_confirmation, placeholder: "パスワード(確認用)", required: true %></dd>
        <%= hidden_field_tag :email, @user.email %>
        <%= form.submit '更新する', class:"btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</main>