<main>
<div id="shortcut">
<div class="wrap flex_container_start">
  <div class="menu-trigger tab_sp" href="javascript:void(0);">
	<span class="spnavButton__border"></span>
	<span class="spnavButton__border"></span>
	<span class="spnavButton__border"></span>
</div>

<%= render partial: "shared/aside" %>

  <div class="inner_large">
    <div class="page_ttl_wrap">
      <div class="page_ttl">
        <h1>ショートカット</h1>
        <p class="page_ttl_txt"><%= @park.name %>のプロダクト管理を効率化しませんか？</p>
        <% @data.each do |datum| %>
          <p class="data"><%= datum %></p>
        <% end %>
      </div>
    </div>
    <div class="content flex_container_start">
      <div class="control_panel_content">

        <div class="shortcut_popular">
          <h2>人気のショートカット</h2>
          <div class="flex_container_start shortcut_popular_item_wrap">
            <div class="shortcut_popular_item" href="#action_none">
              <div class="flex_container">
                <%= image_tag "/ctrlpanel/icon_audio_color.svg", alt: "音楽ファイルの再生" %>
                <div class="plus_icon"><%= image_tag "/ctrlpanel/icon_plus.svg" %></div>
              </div>
              <p>決まった時間に<br>音楽を再生する</p>
            </div>
            <div class="shortcut_popular_item" href="#action_none">
              <div class="flex_container">
                <%= image_tag "/ctrlpanel/icon_video_color.svg", alt: "動画ファイルの表示" %>
                <div class="plus_icon"><%= image_tag "/ctrlpanel/icon_plus.svg" %></div>
              </div>
              <p>決まった時間に<br>動画を再生する</p>
            </div>
            <div class="shortcut_popular_item" href="#action_none">
              <div class="flex_container">
                <%= image_tag "/ctrlpanel/icon_img_color.svg", alt: "画像ファイルの表示" %>
                <div class="plus_icon"><%= image_tag "/ctrlpanel/icon_plus.svg" %></div>
              </div>
              <p>決まった時間に<br>画像を表示する</p>
            </div>
            <div class="shortcut_popular_item" href="#action_none">
              <div class="flex_container">
                <%= image_tag "/ctrlpanel/icon_palette_color.svg", alt: "LEDカラーの変更" %>
                <div class="plus_icon"><%= image_tag "/ctrlpanel/icon_plus.svg" %></div>
              </div>
              <p>決まった時間に<br>LEDの色を変更する</p>
            </div>
          </div>
        </div>
        <%= form_for(@shortcut, url:{controller:'shortcut', action:'create'}) do |form| %>
        <div class="shortcut_create">
          <div class="shortcut_create_inner">

            <div class="shortcut_create_item" id="trigger_none">
              <div class="flex_container shortcut_create_item_ttl">
                <div class="flex_container_s">
                  <div class="shortcut_create_img">
                    <%= image_tag "/ctrlpanel/icon_shortcut_create.svg" %>
                  </div>
                  <div class="shortcut_create_name">
                    <p>トリガー</p>
                    <div class="shortcut_create_ttl" id="trigger_set">トリガー未設定</div>
                  </div>
                </div>
                <div class="shortcut_create_icon">
                  <%= image_tag "/ctrlpanel/icon_shortcut_error.svg", class:"choice_status" %>
                  <%= image_tag "/ctrlpanel/icon_shortcut_edit.svg", class: "edit_icon" %>
                </div>
              </div>
              <div class="shortcut_create_setting">
                <div class="setting_form">

                  <div class="form_item">
                    <label>トリガーのプロダクトを選択する</label>
                    <div class="select">
                      <% if @benches %>
                        <select id="products_select">
                        <% @benches.each do |bench| %>
                          <option value="<%= bench.mac_address %>"><%= bench.name %> （ MACアドレス: <%= bench.mac_address %> ）</option>
                        <% end %>
                        </select>
                        <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                      <% else %>
                        <p><%= @park.name %>に登録されているスマートベンチはありません。</p>
                      <% end %>
                    </div>
                  </div>

                  <div class="form_item">
                    <label>トリガーを選択する</label>
                    <div class="select">
                      <select id="triggers_select">
                        <option value="">選択してください</option>
                      </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                  </div>

                  <div class="form_item trigger_options">
                    <div class="symbols"><button class="and_btn">AND</button><button class="or_btn">OR</button></div>
                    <label>バッテリー残量が</label>
                    <input type="number" class="choice_num num1">
                    <div class="select">
                      <select class="above_below option1">
                        <option value="">指定しない</option>
                        <option value="以上">以上</option>
                        <option value="以下">以下</option>
                        <option value="より大きい">より大きい</option>
                        <option value="より小さい">より小さい</option>
                        <option value="に等しい">に等しい</option>
                      </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                    <input type="number" class="choice_num num2">
                    <div class="select">
                      <select class="above_below option2">
                        <option value="">指定しない</option>
                        <option value="以下">以下</option>
                        <option value="より小さい">より小さい</option>
                      </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                    <div><button class="trigger_cancel">CANCEL</button></div>
                  </div>

                  <div class="form_item trigger_options">
                    <div class="symbols"><button class="and_btn">AND</button><button class="or_btn">OR</button></div>
                    <label>基盤温度が</label>
                    <input type="number" class="choice_num num1">
                    <div class="select">
                      <select class="above_below option1">
                        <option value="">指定しない</option>
                        <option value="以上">以上</option>
                        <option value="以下">以下</option>
                        <option value="より大きい">より大きい</option>
                        <option value="より小さい">より小さい</option>
                        <option value="に等しい">に等しい</option>
                      </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                    <input type="number" class="choice_num num2">
                    <div class="select">
                      <select class="above_below option2">
                        <option value="">指定しない</option>
                        <option value="以下">以下</option>
                        <option value="より小さい">より小さい</option>
                      </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                    <div><button class="trigger_cancel">CANCEL</button></div>
                  </div>

                  <div class="form_item trigger_options">
                    <div class="symbols"><button class="and_btn">AND</button><button class="or_btn">OR</button></div>
                    <label>冷却ファンが</label>
                    <div class="select">
                      <select>
                        <option value="">ON</option>
                        <option value="">OFF</option>
                      </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                    <div><button class="trigger_cancel">CANCEL</button></div>
                  </div>

                  <div class="form_item trigger_options">
                    <div class="symbols"><button class="and_btn">AND</button><button class="or_btn">OR</button></div>
                    <label>液晶ディスプレイが</label>
                    <div class="select">
                      <select>
                        <option value="">ON</option>
                        <option value="">OFF</option>
                      </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                    <div><button class="trigger_cancel">CANCEL</button></div>
                  </div>

                  <div class="form_item trigger_options">
                    <div class="symbols"><button class="and_btn">AND</button><button class="or_btn">OR</button></div>
                    <label>Smart Benchの位置（緯度、経度）が</label>
                    <input type="number" class="choice_num num1">
                    <div class="select">
                      <select class="above_below option1">
                        <option value="">指定しない</option>
                        <option value="以上">以上</option>
                        <option value="以下">以下</option>
                        <option value="より大きい">より大きい</option>
                        <option value="より小さい">より小さい</option>
                        <option value="に等しい">に等しい</option>
                      </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                    <input type="number" class="choice_num num2">
                    <div class="select">
                      <select class="above_below option2">
                        <option value="">指定しない</option>
                        <option value="以下">以下</option>
                        <option value="より小さい">より小さい</option>
                      </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                    <div><button class="trigger_cancel">CANCEL</button></div>
                  </div>

                  <div class="form_item trigger_options">
                    <div class="symbols"><button class="and_btn">AND</button><button class="or_btn">OR</button></div>
                    <label>LEDが</label>
                    <div class="select">
                      <select>
                        <option value="">ON</option>
                        <option value="">OFF</option>
                      </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                    <div><button class="trigger_cancel">CANCEL</button></div>
                  </div>

                  <div class="form_item trigger_options">
                    <div class="symbols"><button class="and_btn">AND</button><button class="or_btn">OR</button></div>
                    <label>LEDのカラーコードが</label>
                    <p>・プリセットカラー</p>
                    <input type="color" class="preset_color" id="preset_red" value="#EF5658">
                    <p>・カラーコード</p>
                    <input name="led_color" id="led_color" type="text" value="" placeholder="#ffffff">
                  </div>

                  <div class="form_item trigger_options">
                    <div class="symbols"><button class="and_btn">AND</button><button class="or_btn">OR</button></div>
                    <label>着席している人の数が</label>
                    <input type="number" class="choice_num">
                    <div class="select">
                      <select class="above_below option1">
                        <option value="">指定しない</option>
                        <option value="以上">以上</option>
                        <option value="以下">以下</option>
                        <option value="より大きい">より大きい</option>
                        <option value="より小さい">より小さい</option>
                        <option value="に等しい">に等しい</option>
                      </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                    <input type="number" class="choice_num num2">
                    <div class="select">
                      <select class="above_below option2">
                        <option value="">指定しない</option>
                        <option value="以下">以下</option>
                        <option value="より小さい">より小さい</option>
                      </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                    <div><button class="trigger_cancel">CANCEL</button></div>
                  </div>

                  <div class="form_item trigger_options">
                    <div class="symbols"><button class="and_btn">AND</button><button class="or_btn">OR</button></div>
                    <label>スピーカーが</label>
                    <div class="select">
                      <select>
                        <option value="">ON</option>
                        <option value="">OFF</option>
                      </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                    <div><button class="trigger_cancel">CANCEL</button></div>
                  </div>

                  <div class="form_item trigger_options">
                    <div class="symbols"><button class="and_btn">AND</button><button class="or_btn">OR</button></div>
                    <label>MP3が</label>
                    <div class="select">
                      <select>
                        <option value="">ON</option>
                        <option value="">OFF</option>
                      </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                    <div><button class="trigger_cancel">CANCEL</button></div>
                  </div>

                  <div class="form_item trigger_options">
                    <div class="symbols"><button class="and_btn">AND</button><button class="or_btn">OR</button></div>
                    <label>MP4が</label>
                    <div class="select">
                      <select>
                        <option value="">ON</option>
                        <option value="">OFF</option>
                      </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                    <div><button class="trigger_cancel">CANCEL</button></div>
                  </div>

                  <div class="form_item trigger_options">
                    <div class="symbols"><button class="and_btn">AND</button><button class="or_btn">OR</button></div>
                    <label>USB用5V電源供給許可が</label>
                    <div class="select">
                      <select>
                        <option value="">ON</option>
                        <option value="">OFF</option>
                      </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                    <div><button class="trigger_cancel">CANCEL</button></div>
                  </div>

                  <div class="form_item trigger_options">
                    <div class="symbols"><button class="and_btn">AND</button><button class="or_btn">OR</button></div>
                    <label>フリーWiFi接続人数が</label>
                    <input type="number" class="choice_num num1">
                    <div class="select">
                      <select class="above_below option1">
                        <option value="">指定しない</option>
                        <option value="以上">以上</option>
                        <option value="以下">以下</option>
                        <option value="より大きい">より大きい</option>
                        <option value="より小さい">より小さい</option>
                        <option value="に等しい">に等しい</option>
                      </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                    <input type="number" class="choice_num num2">
                    <div class="select">
                      <select class="above_below option2">
                        <option value="">指定しない</option>
                        <option value="以下">以下</option>
                        <option value="より小さい">より小さい</option>
                      </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                    <div><button class="trigger_cancel">CANCEL</button></div>
                  </div>

                  <div class="form_item trigger_options">
                    <div class="symbols"><button class="and_btn">AND</button><button class="or_btn">OR</button></div>
                    <label>装置（プロダクト）が</label>
                    <div class="select">
                      <select>
                        <option value="">正常状態</option>
                        <option value="">エラー状態</option>
                      </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                    <div><button class="trigger_cancel">CANCEL</button></div>
                  </div>

                  <div class="form_item trigger_options">
                    <div class="symbols"><button class="and_btn">AND</button><button class="or_btn">OR</button></div>
                    <label>外気温が</label>
                    <input type="number" class="choice_num num1">
                    <div class="select">
                      <select class="above_below option1">
                        <option value="">指定しない</option>
                        <option value="以上">以上</option>
                        <option value="以下">以下</option>
                        <option value="より大きい">より大きい</option>
                        <option value="より小さい">より小さい</option>
                        <option value="に等しい">に等しい</option>
                      </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                    <input type="number" class="choice_num num2">
                    <div class="select">
                      <select class="above_below option2">
                        <option value="">指定しない</option>
                        <option value="以下">以下</option>
                        <option value="より小さい">より小さい</option>
                      </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                    <div><button class="trigger_cancel">CANCEL</button></div>
                  </div>

                  <div class="form_item trigger_options">
                    <div class="symbols"><button class="and_btn">AND</button><button class="or_btn">OR</button></div>
                    <label>湿度が</label>
                    <input type="number" class="choice_num num1">
                    <div class="select">
                      <select class="above_below option1">
                        <option value="">指定しない</option>
                        <option value="以上">以上</option>
                        <option value="以下">以下</option>
                        <option value="より大きい">より大きい</option>
                        <option value="より小さい">より小さい</option>
                        <option value="に等しい">に等しい</option>
                      </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                    <input type="number" class="choice_num num2">
                    <div class="select">
                      <select class="above_below option2">
                        <option value="">指定しない</option>
                        <option value="以下">以下</option>
                        <option value="より小さい">より小さい</option>
                      </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                    <div><button class="trigger_cancel">CANCEL</button></div>
                  </div>

                  <div class="form_item trigger_options">
                    <div class="symbols"><button class="and_btn">AND</button><button class="or_btn">OR</button></div>
                    <label>照度が</label>
                    <input type="number" class="choice_num num1">
                    <div class="select">
                      <select class="above_below option1">
                        <option value="">指定しない</option>
                        <option value="以上">以上</option>
                        <option value="以下">以下</option>
                        <option value="より大きい">より大きい</option>
                        <option value="より小さい">より小さい</option>
                        <option value="に等しい">に等しい</option>
                      </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                    <input type="number" class="choice_num num2">
                    <div class="select">
                      <select class="above_below option2">
                        <option value="">指定しない</option>
                        <option value="以下">以下</option>
                        <option value="より小さい">より小さい</option>
                      </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                    <div><button class="trigger_cancel">CANCEL</button></div>
                  </div>

                  <div class="form_item trigger_options">
                    <div class="symbols"><button class="and_btn">AND</button><button class="or_btn">OR</button></div>
                    <label>気圧が</label>
                    <input type="number" class="choice_num num1">
                    <div class="select">
                      <select class="above_below option1">
                        <option value="">指定しない</option>
                        <option value="以上">以上</option>
                        <option value="以下">以下</option>
                        <option value="より大きい">より大きい</option>
                        <option value="より小さい">より小さい</option>
                        <option value="に等しい">に等しい</option>
                      </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                    <input type="number" class="choice_num num2">
                    <div class="select">
                      <select class="above_below option2">
                        <option value="">指定しない</option>
                        <option value="以下">以下</option>
                        <option value="より小さい">より小さい</option>
                      </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                    <div><button class="trigger_cancel">CANCEL</button></div>
                  </div>

                  <div class="form_item trigger_options">
                    <div class="symbols"><button class="and_btn">AND</button><button class="or_btn">OR</button></div>
                    <label>ノイズが</label>
                    <input type="number" class="choice_num num1">
                    <div class="select">
                      <select class="above_below option1">
                        <option value="">指定しない</option>
                        <option value="以上">以上</option>
                        <option value="以下">以下</option>
                        <option value="より大きい">より大きい</option>
                        <option value="より小さい">より小さい</option>
                        <option value="に等しい">に等しい</option>
                      </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                    <input type="number" class="choice_num num2">
                    <div class="select">
                      <select class="above_below option2">
                        <option value="">指定しない</option>
                        <option value="以下">以下</option>
                        <option value="より小さい">より小さい</option>
                      </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                    <div><button class="trigger_cancel">CANCEL</button></div>
                  </div>

                  <div class="form_item trigger_options">
                    <div class="symbols"><button class="and_btn">AND</button><button class="or_btn">OR</button></div>
                    <label>揮発性有機化合物濃度が</label>
                    <input type="number" class="choice_num num1">
                    <div class="select">
                      <select class="above_below option1">
                        <option value="">指定しない</option>
                        <option value="以上">以上</option>
                        <option value="以下">以下</option>
                        <option value="より大きい">より大きい</option>
                        <option value="より小さい">より小さい</option>
                        <option value="に等しい">に等しい</option>
                      </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                    <input type="number" class="choice_num num2">
                    <div class="select">
                      <select class="above_below option2">
                        <option value="">指定しない</option>
                        <option value="以下">以下</option>
                        <option value="より小さい">より小さい</option>
                      </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                    <div><button class="trigger_cancel">CANCEL</button></div>
                  </div>

                  <div class="form_item trigger_options">
                    <div class="symbols"><button class="and_btn">AND</button><button class="or_btn">OR</button></div>
                    <label>CO2濃度が</label>
                    <input type="number" class="choice_num num1">
                    <div class="select">
                      <select class="above_below option1">
                        <option value="">指定しない</option>
                        <option value="以上">以上</option>
                        <option value="以下">以下</option>
                        <option value="より大きい">より大きい</option>
                        <option value="より小さい">より小さい</option>
                        <option value="に等しい">に等しい</option>
                      </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                    <input type="number" class="choice_num num2">
                    <div class="select">
                      <select class="above_below option2">
                        <option value="">指定しない</option>
                        <option value="以下">以下</option>
                        <option value="より小さい">より小さい</option>
                      </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                    <div><button class="trigger_cancel">CANCEL</button></div>
                  </div>

                  <div class="form_item trigger_options">
                    <div class="symbols"><button class="and_btn">AND</button><button class="or_btn">OR</button></div>
                    <label>不快指数が</label>
                    <input type="number" class="choice_num num1">
                    <div class="select">
                      <select class="above_below option1">
                        <option value="">指定しない</option>
                        <option value="以上">以上</option>
                        <option value="以下">以下</option>
                        <option value="より大きい">より大きい</option>
                        <option value="より小さい">より小さい</option>
                        <option value="に等しい">に等しい</option>
                      </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                    <input type="number" class="choice_num num2">
                    <div class="select">
                      <select class="above_below option2">
                        <option value="">指定しない</option>
                        <option value="以下">以下</option>
                        <option value="より小さい">より小さい</option>
                      </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                    <div><button class="trigger_cancel">CANCEL</button></div>
                  </div>

                  <div class="form_item trigger_options">
                    <div class="symbols"><button class="and_btn">AND</button><button class="or_btn">OR</button></div>
                    <label>熱中症警戒度が</label>
                    <input type="number" class="choice_num num1">
                    <div class="select">
                      <select class="above_below option1">
                        <option value="">指定しない</option>
                        <option value="以上">以上</option>
                        <option value="以下">以下</option>
                        <option value="より大きい">より大きい</option>
                        <option value="より小さい">より小さい</option>
                        <option value="に等しい">に等しい</option>
                      </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                    <input type="number" class="choice_num num2">
                    <div class="select">
                      <select class="above_below option2">
                        <option value="">指定しない</option>
                        <option value="以下">以下</option>
                        <option value="より小さい">より小さい</option>
                      </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                    <div><button class="trigger_cancel">CANCEL</button></div>
                  </div>

                </div>
              </div>
            </div>

            <div class="created_plus_icon" id="scroll_point"><%= image_tag "/ctrlpanel/icon_plus_b.svg" %></div>

            <div class="shortcut_create_item" id="action_none">
              <div class="flex_container shortcut_create_item_ttl">
                <div class="flex_container_s">
                  <div class="shortcut_create_img">
                    <%= image_tag "/ctrlpanel/icon_shortcut_create.svg" %>
                  </div>
                  <div class="shortcut_create_name">
                    <p>アクション</p>
                    <div class="shortcut_create_ttl" id="action_set">アクション未設定</div>
                  </div>
                </div>
                <div class="shortcut_create_icon">
                  <%= image_tag "/ctrlpanel/icon_shortcut_error.svg", class:"choice_status" %>
                  <%= image_tag "/ctrlpanel/icon_shortcut_edit.svg", class: "edit_icon" %>
                </div>
              </div>
              <div class="shortcut_create_setting">
                <div class="setting_form">

                  <div class="form_item">
                    <label>上記のトリガーによって動作するプロダクトを指定する</label>
                    <div class="select">
                      <% if @benches %>
                        <select id="action_products_select">
                        <% @benches.each do |bench| %>
                          <option value="<%= bench.mac_address %>"><%= bench.name %> （ MACアドレス: <%= bench.mac_address %> ）</option>
                        <% end %>
                        </select>
                        <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                      <% else %>
                        <p><%= @park.name %>に登録されているスマートベンチはありません。</p>
                      <% end %>
                    </div>
                  </div>

                  <div class="form_item">
                    <label>アクションを選択する</label>
                    <div class="select">
                      <select id="actions_select">
                        <option value="">選択してください</option>
                      </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                  </div>

                  <div class="form_item time_setting">
                    <label>開始時間</label>
                    <div class="select">
                      <%= form.datetime_select :start_time ,required: true %>
                    </div>
                  </div>

                  <div class="form_item time_setting">
                    <label>終了時間</label>
                    <div class="select">
                      <%= form.datetime_select :end_time %>
                    </div>
                  </div>

                  <div class="form_item">
                    <div class="select">
                      <select id="repeat">
                        <option value="0">繰り返ししない</option>
                        <option value="1">繰り返しする</option>
                      </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                  </div>

                  <div class="form_item action_options">
                    <label>LEDの色を変更する</label>

                    <label>・プリセットカラーから選択する</label>
                    <input type="color" value="#EF5658">
                    <input type="color" value="#FF803C">
                    <input type="color" value="#FFDE2B">
                    <input type="color" value="#44D049">
                    <input type="color" value="#6ABBEF">
                    <input type="color" value="#3C76F7">
                    <input type="color" value="#8556EF">
                    <input type="color" value="#F0F3F8">
                
                    <label>・カラーコードで指定する</label>
                    <input type="text" value="" placeholder="#ffffff">
                    <div><button class="action_cancel">CANCEL</button></div>
                  </div>

                  <div class="form_item action_options">
                    <label>画像を表示する</label>
                    <% if @bench_image %>
                      <button>保存済みの画像から選択する</button>
                    <% else %>
                      <p>保存済みの画像はありません。アップロードして設定してください。</p>
                    <% end %>
                    <div id="upload" class="upload_img">
                      <label class="upload_file">
                        <%= image_tag "/common/icon_upload.svg", alt: "アイコン" %>
                        ここを<span>クリック</span>または<br>ドラッグ＆ドロップで<br>ファイルをアップロード
                        <%= form_with model:@bench_image, local:false do |f| %>
                          <%= f.file_field :image, id:'pdf_file', accept:'image/*,.pdf' %>
                          <%= f.hidden_field :name, id:'pdf_name' %>
                          <%= f.submit "送信", id:"pdf_submit" %>
                        <% end %>
                      </label>
                    </div>
                    <div><button class="action_cancel">CANCEL</button></div>
                  </div>

                  <div class="form_item action_options">
                    <label>動画を再生する</label>
                    <% if @bench_video %>
                      <button>保存済みの動画から選択する</button>
                    <% else %>
                      <p>保存済みの動画はありません。アップロードして設定してください。</p>
                    <% end %>
                    <div id="upload" class="upload_video">
                      <label class="upload_file">
                        <%= image_tag "/common/icon_upload.svg", alt: "アイコン" %>
                        ここを<span>クリック</span>または<br>ドラッグ＆ドロップで<br>ファイルをアップロード
                        <%= form_with model: @bench_video, local:false do |f| %>
                          <%= f.file_field :video, id:'movie_file', accept:'video/*' %>
                          <%= f.hidden_field :name, id:'movie_name' %>
                          <%= f.submit "送信", id:"movie_submit" %>
                        <% end %>
                      </label>
                    </div>
                    <div id="volume_container">
                      <div id="volume_subcontainer">
                        <div class="volume">指定ボリューム<br><p>0</p></div>
                      </div>
                    </div>
                    <input type="range" value="0" id="volume_input">
                    <div><button class="action_cancel">CANCEL</button></div>
                  </div>

                  <div class="form_item action_options">
                    <label>音楽を再生する</label>
                    <% if @bench_audio %>
                      <button>保存済みのMP3から選択する</button>
                    <% else %>
                      <p>保存済みのMP3ファイルはありません。アップロードして設定してください。</p>
                    <% end %>
                    <div id="upload" class="upload_audio">
                      <label class="upload_file">
                        <%= image_tag "/common/icon_upload.svg", alt: "アイコン" %>
                        ここを<span>クリック</span>または<br>ドラッグ＆ドロップで<br>ファイルをアップロード
                        <%= form_with model: @bench_audio, local:false do |f| %>
                          <%= f.hidden_field :name, id:'audio_name' %>
                          <%= f.file_field :audio, :size => 140, id:'audio_file', accept:'audio/mp3' %>
                          <%= f.submit "送信", id:"audio_submit" %>
                        <% end %>
                      </label>
                    </div>
                    <div id="volume_container">
                      <div id="volume_subcontainer">
                        <div class="volume">指定ボリューム<br><p>0</p></div>
                      </div>
                    </div>
                    <input type="range" value="0" id="volume_input">
                    <div><button class="action_cancel">CANCEL</button></div>
                  </div>

                  <div class="form_item action_options">
                    <label>・・・・・</label>
                    <div><button class="action_cancel">CANCEL</button></div>
                  </div>

                </div>
              </div>
            </div>

            <div class="shortcut_create_item" id="shortcut_confirm">
              <div class="flex_container shortcut_create_item_ttl">
                <div class="flex_container_s">
                  <div class="shortcut_create_img">
                    <%= image_tag "/ctrlpanel/icon_shortcut_create.svg" %>
                  </div>
                  <div class="shortcut_create_name">
                    <p>作成されるショートカット</p>
                    <div class="shortcut_create_ttl sc_choice">ベンチAで</div>
                    <div class="shortcut_create_ttl sc_choice">△△の状態なら、</div>
                    <div class="shortcut_create_ttl sc_choice">□時から</div>
                    <div class="shortcut_create_ttl sc_choice">×時まで</div>
                    <div class="shortcut_create_ttl sc_choice">ベンチBで</div>
                    <div class="shortcut_create_ttl sc_choice">〇〇を実行する</div>
                  </div>
                </div>
                <div class="shortcut_create_icon">
                  <%= image_tag "/ctrlpanel/icon_shortcut_error.svg", class:"choice_status" %>
                  <%= image_tag "/ctrlpanel/icon_shortcut_edit.svg", class: "edit_icon" %>
                </div>
              </div>
            </div>

            <div class="shortcut_create_btn">
              <%= form.hidden_field :park_id, {value: @park.id} %>
              <%= form.hidden_field :title %>
              <%= form.hidden_field :program %>
              <%= form.hidden_field :repeat %>
              <div id="save_filter"></div>
              <%= form.submit "このショートカットを保存する", class:"btn btn_g", id:"save_btn" %>
              <a href="/shortcut/<%= @park.id %>" class="reset_btn">リセットする</a>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <aside class="sidebar_cp sidebar_sc">
  <div>
    <div class="sidebar_item">
      <div class="sidebar_cp_item_ttl">実行中のショートカット</div>
      <div class="shortcut_saved">

        <% @shortcuts.each do |shortcut| %>
        <div class="sidebar_sc_item">
          <div class="flex_container">
            <div><%= image_tag "/ctrlpanel/icon_shortcut_side.svg" %></div>
            <div><%= image_tag "/ctrlpanel/icon_shortcut_edit.svg" %></div>
          </div>
          <div class="saved_txt">
            <% if shortcut %>
              <p class="action_name">現在実行中（<%= shortcut.title %>）</p>
              <p class="created_date">作成日：2022.04.30<%= shortcut.created_at %></p>
            <% else %>
              <p>現在実行中のショートカットはありません。</p>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="sidebar_item">
      <div class="sidebar_cp_item_ttl">保存済みのショートカット</div>
      <div class="shortcut_saved">
        <% @shortcuts.each do |shortcut| %>
          <div class="sidebar_sc_item">
            <div class="flex_container">
              <div><%= image_tag "/ctrlpanel/icon_shortcut_side.svg" %></div>
              <div><%= image_tag "/ctrlpanel/icon_shortcut_edit.svg" %></div>
            </div>
            <div class="saved_txt">
            <% if shortcut.title %>
              <p class="action_name"><%= shortcut.title %></p>
              <p class="created_date">作成日：2022.04.30<%= shortcut.created_at %></p>
            <% else %>
              <p>ショートカットが保存されていません。</p>
            <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="sidebar_item">
      <div class="sidebar_cp_item_ttl">トリガー</div>
      <div class="sidebar_sc_item trigger trigger_title">
        <div class="flex_container">
          <div class="flex_container_s">
            <div class="sidebar_sc_icon"><%= image_tag "/ctrlpanel/icon_shortcut_side01.svg" %></div>
            <div class="sidebar_sc_txt">任意のトリガー</div>
          </div>
          <div class="plus_icon"><%= image_tag "/ctrlpanel/icon_plus.svg" %></div>
        </div>
      </div>
      <div class="sidebar_sc_item_more">
        <div class="sidebar_sc_item trigger_more trigger_title">
          <div class="flex_container">
            <div class="flex_container_s">
              <div class="sidebar_sc_icon"><%= image_tag "/ctrlpanel/icon_shortcut_side01.svg" %></div>
              <div class="sidebar_sc_txt">任意のトリガー</div>
            </div>
            <div class="plus_icon"><%= image_tag "/ctrlpanel/icon_plus.svg" %></div>
          </div>
        </div>
      </div>
      <div class="readmore">もっと見る</div>
    </div>
    <div class="sidebar_item">
      <div class="sidebar_cp_item_ttl">アクション</div>
      <div class="sidebar_sc_item action action_title">
        <div class="flex_container">
          <div class="flex_container_s">
            <div class="sidebar_sc_icon"><%= image_tag "/ctrlpanel/icon_shortcut_side01.svg" %></div>
            <div class="sidebar_sc_txt">任意のアクション</div>
          </div>
          <div class="plus_icon"><%= image_tag "/ctrlpanel/icon_plus.svg" %></div>
        </div>
      </div>
      <div class="sidebar_sc_item_more">
        <div class="sidebar_sc_item action_more action_title">
          <div class="flex_container">
            <div class="flex_container_s">
              <div class="sidebar_sc_icon"><%= image_tag "/ctrlpanel/icon_shortcut_side01.svg" %></div>
              <div class="sidebar_sc_txt">任意のアクション</div>
            </div>
            <div class="plus_icon"><%= image_tag "/ctrlpanel/icon_plus.svg" %></div>
          </div>
        </div>
      </div>
      <div class="readmore">もっと見る</div>
    </div>
  </div>
</aside>
    </div>
  </div>
</div>
</main>


<%= javascript_pack_tag 'shortcut' %>