<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>LINK</h1>
<h2><%= link_to 'ホーム', {controller: 'parcom', action:'index'} %></h2>
<h2><%= link_to 'お知らせ', {controller: 'parcom', action:'news'} %></h2>
<h2><%= link_to 'お知らせ記事', {controller: 'parcom', action:'article'} %></h2>
<br>
<h2><%= link_to 'アカウント編集(ログイン中のユーザーid)', {controller: 'user', action:'account'} %></h2>
<h2><%= link_to 'メールアドレス変更(ログイン中のユーザーid)', {controller: 'user', action:'changemail'} %></h2>
<h2><%= link_to '(パスワード変更)', {controller: 'user', action:'changepwd'} %></h2>
<br>
<h2><%= link_to 'コントロールパネル', {controller: 'parcom', action:'controlpanel', bench_id:@bench.id} %></h2>
<br>
<h2><%= link_to '公園情報・プロフィール(公園id 未)', {controller: 'parcom', action:'profile', park_id:@park.id} %></h2>
<h2><%= link_to '公園の最新情報(公園id 未)', {controller: 'parcom', action:'park', park_id:@park.id} %></h2>
<h2><%= link_to '公園情報の編集(公園id)', {controller: 'park', action:'parkinfo_edit', park_id:@park.id} %></h2>
<h2><%= link_to 'プロダクト(公園id)', {controller: 'park', action:'products', park_id:@park.id} %></h2>
<h2><%= link_to '口コミ・レビュー(公園id)', {controller: 'parcom', action:'review', park_id:@park.id} %></h2>
<h2><%= link_to 'ショートカット(公園id 未)', {controller: 'shortcut', action:'index', park_id:@park.id} %></h2>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<style>
    h1 {
        font-size: 40px;  
    }
    h1, h2 {
        text-align: center;
        margin-top: 5px;
    }
</style>