<main>
<div id="review">
<div class="wrap flex_container_start">
  <div class="menu-trigger tab_sp" href="javascript:void(0);">
	<span class="spnavButton__border"></span>
	<span class="spnavButton__border"></span>
	<span class="spnavButton__border"></span>
</div>

<aside class="sidebar_product">
  <div class="sidebar_product_ttl">公園一覧</div>
  <div class="park_item">
    <div class="park_name">内灘サンセットパーク</div>
   <ul>
      <li>
        <%= link_to '/others/parkinfo_edit', class: "hover" do %>
          <%= image_tag "/sidebar/icon_park_side_off.svg", alt: "情報編集" %>公園の情報編集
        <% end %>
      </li>
      <li>
        <%= link_to '/others/products', class: "hover" do %>
          <%= image_tag "/sidebar/icon_product_side_off.svg", alt: "プロダクト" %>プロダクト
          <span class="notification_num">2</span>
        <% end %>
      </li>
      <li>
        <%= link_to '/others/review', class: "hover" do %>
          <%= image_tag "/sidebar/icon_review_side_off.svg", alt: "口コミ" %>クチコミ
        <% end %>
      </li>
      <li>
        <%= link_to '/others/', class: "hover" do %>
          <%= image_tag "/sidebar/icon_analyze_side_off.svg", alt: "分析" %>分析
        <% end %>
      </li>
    </ul>
  </div>
  <div class="park_item">
    <div class="park_name">内灘町総合公園</div>
    <ul>
      <li>
        <%= link_to '/others/parkinfo_edit', class: "hover" do %>
          <%= image_tag "/sidebar/icon_park_side_off.svg", alt: "情報編集" %>公園の情報編集
        <% end %>
      </li>
      <li>
        <%= link_to '/others/products', class: "hover" do %>
          <%= image_tag "/sidebar/icon_product_side_off.svg", alt: "プロダクト" %>プロダクト
          <span class="notification_num">2</span>
        <% end %>
      </li>
      <li>
        <%= link_to '/others/review', class: "hover" do %>
          <%= image_tag "/sidebar/icon_review_side_off.svg", alt: "口コミ" %>クチコミ
        <% end %>
      </li>
      <li>
        <%= link_to '/others/', class: "hover" do %>
          <%= image_tag "/sidebar/icon_analyze_side_off.svg", alt: "分析" %>分析
        <% end %>
      </li>
    </ul>
  </div>
  <div class="park_item">
    <div class="park_name">ハマナス恐竜公園</div>
    <ul>
			<li>
        <%= link_to '/others/parkinfo_edit', class: "hover" do %>
          <%= image_tag "/sidebar/icon_park_side_off.svg", alt: "情報編集" %>公園の情報編集
        <% end %>
      </li>
      <li>
        <%= link_to '/others/products', class: "hover" do %>
          <%= image_tag "/sidebar/icon_product_side_off.svg", alt: "プロダクト" %>プロダクト
          <span class="notification_num">2</span>
        <% end %>
      </li>
      <li>
        <%= link_to '/others/review', class: "hover" do %>
          <%= image_tag "/sidebar/icon_review_side_off.svg", alt: "口コミ" %>クチコミ
        <% end %>
      </li>
      <li>
        <%= link_to '/others/', class: "hover" do %>
          <%= image_tag "/sidebar/icon_analyze_side_off.svg", alt: "分析" %>分析
        <% end %>
      </li>
    </ul>
  </div>
  <div class="park_item">
    <div class="park_name">白帆台第４公園</div>
    <ul>
			<li>
        <%= link_to '/others/parkinfo_edit', class: "hover" do %>
          <%= image_tag "/sidebar/icon_park_side_off.svg", alt: "情報編集" %>公園の情報編集
        <% end %>
      </li>
      <li>
        <%= link_to '/others/products', class: "hover" do %>
          <%= image_tag "/sidebar/icon_product_side_off.svg", alt: "プロダクト" %>プロダクト
          <span class="notification_num">2</span>
        <% end %>
      </li>
      <li>
        <%= link_to '/others/review', class: "hover" do %>
          <%= image_tag "/sidebar/icon_review_side_off.svg", alt: "口コミ" %>クチコミ
        <% end %>
      </li>
      <li>
        <%= link_to '/others/', class: "hover" do %>
          <%= image_tag "/sidebar/icon_analyze_side_off.svg", alt: "分析" %>分析
        <% end %>
      </li>
    </ul>
  </div>
  <div class="sidebar_help">
    <div class="sidebar_help_ttl"><%= image_tag "/sidebar/icon_speechbubble.svg" %>ヘルプページはこちら</div>
    <p>使い方やよくあるご質問等をまとめています。</p>
    <%= link_to '/others/help', class: "btn hover flex_container" do %>
      ヘルプはこちらから<%= image_tag "/sidebar/icon_arrow_help_off.svg" %>
    <% end %>
  </div>
</aside>
  <div class="inner_large">
    <div class="page_ttl_wrap">
      <div class="page_ttl">
        <h1>〇〇〇〇〇〇公園の口コミ</h1>
        <p class="page_ttl_txt">ユーザーネームさん、こんにちは。<br class="sp">現在の公園の情報を確認しましょう。</p>
      </div>
    </div>
    <div class="content flex_container_start">
      <div class="control_panel_content">
        <div class="content_frame">
          <h2>この公園に寄せられた意見</h2>
          <div class="review_content">
            <div class="review_content_user">
              <div class="flex_container_s">
                <%= image_tag "/common/icon_noimage_user.svg", class: "user_icon" %>
                <div>
                  <p class="user_name">YAMADA HANAKO</p>
                  <p class="date">2022.10.01<span>Googleからのクチコミ</span></p>
                </div>
              </div>
            </div>
            <div class="popup_btn">…</div>
            <div class="popup_window">
              <span class="popup_close">×</span>
              <ul>
                <li class="edit_btn">
                  <a href="">非公開</a>
                </li>
                <li data-action="confirm_delete" class="delete_btn">削除する</li>
              </ul>
            </div>
            <div class="review_content_txt">
              <p>あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。 またそのなかでいっしょになったたくさんのひとたち、ファゼーロとロザーロ、羊飼のミーロや、顔の赤いこどもたち、地主のテーモ、山猫博士のボーガント・デストゥパーゴなど、いまこの暗い巨きな石の建物のなかで考えていると、みんなむかし風のなつかしい青い幻燈のように思われます。では、わたくしはいつかの小さなみだしをつけながら、しずかにあの年のイーハトーヴォの五月から十月までを書きつけましょう。</p>
            </div>
            <div class="review_content_answer">
              <div class="flex_container">
                <%= image_tag "/common/icon_owner_default.svg", class: "user_icon" %>
                <textarea name="" placeholder="内容を入力してください"></textarea>
                <button type="submit" class="btn">返信する</button>
              </div>
            </div>
          </div>
          <div class="review_content">
            <div class="review_content_user">
              <div class="flex_container_s">
                <%= image_tag "/common/icon_noimage_user.svg", class: "user_icon" %>
                <div>
                  <p class="user_name">YAMADA HANAKO</p>
                  <p class="date">2022.10.01<span>Googleからのクチコミ</span></p>
                </div>
              </div>
            </div>
            <div class="popup_btn">…</div>
            <div class="popup_window">
              <span class="popup_close">×</span>
              <ul>
                <li class="edit_btn">
                  <a href="">非公開</a>
                </li>
                <li data-action="confirm_delete" class="delete_btn">削除する</li>
              </ul>
            </div>
            <div class="review_content_txt">
              <p>あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。 またそのなかでいっしょになったたくさんのひとたち、ファゼーロとロザーロ、羊飼のミーロや、顔の赤いこどもたち、地主のテーモ、山猫博士のボーガント・デストゥパーゴなど、いまこの暗い巨きな石の建物のなかで考えていると、みんなむかし風のなつかしい青い幻燈のように思われます。では、わたくしはいつかの小さなみだしをつけながら、しずかにあの年のイーハトーヴォの五月から十月までを書きつけましょう。</p>
            </div>
            <div class="review_content_answer">
              <div class="flex_container">
                <%= image_tag "/common/icon_owner_default.svg", class: "user_icon" %>
                <textarea name="" placeholder="内容を入力してください"></textarea>
                <button type="submit" class="btn">返信する</button>
              </div>
            </div>
          </div>
          <div class="review_content">
            <div class="review_content_user">
              <div class="flex_container_s">
                <%= image_tag "/common/icon_noimage_user.svg", class: "user_icon" %>
                <div>
                  <p class="user_name">YAMADA HANAKO</p>
                  <p class="date">2022.10.01<span>Googleからのクチコミ</span></p>
                </div>
              </div>
            </div>
            <div class="popup_btn">…</div>
            <div class="popup_window">
              <span class="popup_close">×</span>
              <ul>
                <li class="edit_btn">
                  <a href="">非公開</a>
                </li>
                <li data-action="confirm_delete" class="delete_btn">削除する</li>
              </ul>
            </div>
            <div class="review_content_txt">
              <p>あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。 またそのなかでいっしょになったたくさんのひとたち、ファゼーロとロザーロ、羊飼のミーロや、顔の赤いこどもたち、地主のテーモ、山猫博士のボーガント・デストゥパーゴなど、いまこの暗い巨きな石の建物のなかで考えていると、みんなむかし風のなつかしい青い幻燈のように思われます。では、わたくしはいつかの小さなみだしをつけながら、しずかにあの年のイーハトーヴォの五月から十月までを書きつけましょう。</p>
            </div>
            <div class="review_content_answer">
              <div class="flex_container">
                <%= image_tag "/common/icon_owner_default.svg", class: "user_icon" %>
                <textarea name="" placeholder="内容を入力してください"></textarea>
                <button type="submit" class="btn">返信する</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <aside class="sidebar_review sidebar_menu">
        <div class="sidebar_review_ttl"><%= image_tag "/sidebar/icon_side_timezone.svg" %>混雑する時間帯<%= image_tag "/sidebar/icon_help.svg", class: "help_icon" %></div>
        <div class="sidebar_review_item">
          <%= image_tag "/sidebar/sidebar_review_dummy01.svg" %>
        </div>
        <div class="sidebar_review_ttl"><%= image_tag "/sidebar/icon_side_evaluation.svg" %>公園に対する評価<%= image_tag "/sidebar/icon_help.svg", class: "help_icon" %></div>
        <div class="sidebar_review_item">
          <%= image_tag "/sidebar/sidebar_review_dummy02.svg" %>
        </div>
      </aside>
    </div>
  </div>
</div>
</main>
