<main>
<div id="parkinfo_edit">
<div class="wrap flex_container_start">
  <div class="menu-trigger tab_sp" href="javascript:void(0);">
	<span class="spnavButton__border"></span>
	<span class="spnavButton__border"></span>
	<span class="spnavButton__border"></span>
</div>

<%= render partial: "shared/aside" %>

  <div class="inner_large">
    <div class="page_ttl_wrap">
      <div class="page_ttl">
        <h1><%= @park.name %>の情報編集</h1>
        <p class="page_ttl_txt">公園の情報をアップデートしましょう。</p>
      </div>
    </div>
    <div class="content flex_container_start">
      <div class="control_panel_content">
        <div class="content_frame" id="basicinfo_edit">
          <div class="parkinfo_edit_ttl">
            <h2>基本情報の編集</h2>
            <p>【ダミーテキスト】一部の情報は、Googleサービスを利用する他のユーザーに表示される場合があります。<%= link_to "詳細", "/help" %></p>
          </div>
          <%= form_for(@park, url:{controller:'park', action:'parkinfo_edit'}) do |form| %>
            <dl>
              <dt class="form_term">公園の名称<span class="req">必須</span></dt>
              <dd class="form_description"><%= form.text_field :name, placeholder:"〇〇〇〇〇〇公園", required: true %></dd>
              <div class="h-adr">
                <span class="p-country-name" style="display:none;">Japan</span>
                <dt class="form_term">所在地<span class="req">必須</span></dt>
                <dd class="form_description address">
                  <div class="form_item">
                    <%= form.text_field :zip, class:"p-postal-code", placeholder:"郵便番号を入力", required: true %>
                  </div>
                  <div class="form_item">
                    <%= form.text_field :address, class:"p-region p-locality p-street-address p-extended-address", placeholder:"所在地を入力", value:@address, required: true %>
                  </div>
                </dd>
              </div>
              <dt class="form_term">営業時間<span class="req">必須</span></dt>
              <dd class="form_description business_hours">
                <div class="form_item flex_container_s">
                  <div class="park_status_item flex_container_s">
                    <span class="day_of_week">日曜日</span>
                    <div class="park_status_switch flex_container_s">
                      <div id="" class="toggle">
                        <input type="checkbox" name="park_status">
                      </div>
                      <div class="park_status">
                        <p class="on">開園日</p>
                        <p class="off">閉園日</p>
                      </div>
                    </div>
                  </div>
                  <div class="flex_container_s flex_container_time">
                    <div class="time_item">
                      <div class="flex_container_s">
                        <div class="select">
                          <select name="time_hour"></select>
                          <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                        </div>
                        <span>:</span>
                        <div class="select">
                          <select name="time_min"></select>
                          <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                        </div>
                      </div>
                    </div>
                    <span class="time_symbol">~</span>
                    <div class="time_item">
                      <div class="flex_container_s">
                        <div class="select">
                          <select name="time_hour"></select>
                          <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                        </div>
                        <span>:</span>
                        <div class="select">
                          <select name="time_min"></select>
                          <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                        </div>
                      </div>
                    </div>
                    <label class="label_style" id="adapt_same"><input type="checkbox" name="" value="" class="label_style_checkbox">以下の曜日にも適用する</label>
                  </div>
                </div>
                <div class="form_item flex_container_s">
                  <div class="park_status_item flex_container_s">
                    <span class="day_of_week">月曜日</span>
                    <div class="park_status_switch flex_container_s">
                      <div id="" class="toggle">
                        <input type="checkbox" name="park_status">
                      </div>
                      <div class="park_status">
                        <p class="on">開園日</p>
                        <p class="off">閉園日</p>
                      </div>
                    </div>
                  </div>
                  <div class="flex_container_s flex_container_time">
                    <div class="time_item">
                      <div class="flex_container_s">
                        <div class="select">
                          <select name="time_hour"></select>
                          <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                        </div>
                        <span>:</span>
                        <div class="select">
                          <select name="time_min"></select>
                          <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                        </div>
                      </div>
                    </div>
                    <span class="time_symbol">~</span>
                    <div class="time_item">
                      <div class="flex_container_s">
                        <div class="select">
                          <select name="time_hour"></select>
                          <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                        </div>
                        <span>:</span>
                        <div class="select">
                          <select name="time_min"></select>
                          <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form_item flex_container_s">
                  <div class="park_status_item flex_container_s">
                    <span class="day_of_week">火曜日</span>
                    <div class="park_status_switch flex_container_s">
                      <div id="" class="toggle">
                        <input type="checkbox" name="park_status">
                      </div>
                      <div class="park_status">
                        <p class="on">開園日</p>
                        <p class="off">閉園日</p>
                      </div>
                    </div>
                  </div>
                  <div class="flex_container_s flex_container_time">
                    <div class="time_item">
                      <div class="flex_container_s">
                        <div class="select">
                          <select name="time_hour"></select>
                          <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                        </div>
                        <span>:</span>
                        <div class="select">
                          <select name="time_min"></select>
                          <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                        </div>
                      </div>
                    </div>
                    <span class="time_symbol">~</span>
                    <div class="time_item">
                      <div class="flex_container_s">
                        <div class="select">
                          <select name="time_hour"></select>
                          <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                        </div>
                        <span>:</span>
                        <div class="select">
                          <select name="time_min"></select>
                          <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form_item flex_container_s">
                  <div class="park_status_item flex_container_s">
                    <span class="day_of_week">水曜日</span>
                    <div class="park_status_switch flex_container_s">
                      <div id="" class="toggle">
                        <input type="checkbox" name="park_status">
                      </div>
                      <div class="park_status">
                        <p class="on">開園日</p>
                        <p class="off">閉園日</p>
                      </div>
                    </div>
                  </div>
                  <div class="flex_container_s flex_container_time">
                    <div class="time_item">
                      <div class="flex_container_s">
                        <div class="select">
                          <select name="time_hour"></select>
                          <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                        </div>
                        <span>:</span>
                        <div class="select">
                          <select name="time_min"></select>
                          <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                        </div>
                      </div>
                    </div>
                    <span class="time_symbol">~</span>
                    <div class="time_item">
                      <div class="flex_container_s">
                        <div class="select">
                          <select name="time_hour"></select>
                          <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                        </div>
                        <span>:</span>
                        <div class="select">
                          <select name="time_min"></select>
                          <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form_item flex_container_s">
                  <div class="park_status_item flex_container_s">
                    <span class="day_of_week">木曜日</span>
                    <div class="park_status_switch flex_container_s">
                      <div id="" class="toggle">
                        <input type="checkbox" name="park_status">
                      </div>
                      <div class="park_status">
                        <p class="on">開園日</p>
                        <p class="off">閉園日</p>
                      </div>
                    </div>
                  </div>
                  <div class="flex_container_s flex_container_time">
                    <div class="time_item">
                      <div class="flex_container_s">
                        <div class="select">
                          <select name="time_hour"></select>
                          <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                        </div>
                        <span>:</span>
                        <div class="select">
                          <select name="time_min"></select>
                          <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                        </div>
                      </div>
                    </div>
                    <span class="time_symbol">~</span>
                    <div class="time_item">
                      <div class="flex_container_s">
                        <div class="select">
                          <select name="time_hour"></select>
                          <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                        </div>
                        <span>:</span>
                        <div class="select">
                          <select name="time_min"></select>
                          <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form_item flex_container_s">
                  <div class="park_status_item flex_container_s">
                    <span class="day_of_week">金曜日</span>
                    <div class="park_status_switch flex_container_s">
                      <div id="" class="toggle">
                        <input type="checkbox" name="park_status">
                      </div>
                      <div class="park_status">
                        <p class="on">開園日</p>
                        <p class="off">閉園日</p>
                      </div>
                    </div>
                  </div>
                  <div class="flex_container_s flex_container_time">
                    <div class="time_item">
                      <div class="flex_container_s">
                        <div class="select">
                          <select name="time_hour"></select>
                          <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                        </div>
                        <span>:</span>
                        <div class="select">
                          <select name="time_min"></select>
                          <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                        </div>
                      </div>
                    </div>
                    <span class="time_symbol">~</span>
                    <div class="time_item">
                      <div class="flex_container_s">
                        <div class="select">
                          <select name="time_hour"></select>
                          <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                        </div>
                        <span>:</span>
                        <div class="select">
                          <select name="time_min"></select>
                          <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form_item flex_container_s">
                  <div class="park_status_item flex_container_s">
                    <span class="day_of_week">土曜日</span>
                    <div class="park_status_switch flex_container_s">
                      <div id="" class="toggle">
                        <input type="checkbox" name="park_status">
                      </div>
                      <div class="park_status">
                        <p class="on">開園日</p>
                        <p class="off">閉園日</p>
                      </div>
                    </div>
                  </div>
                  <div class="flex_container_s flex_container_time">
                    <div class="time_item">
                      <div class="flex_container_s">
                        <div class="select">
                          <select name="time_hour"></select>
                          <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                        </div>
                        <span>:</span>
                        <div class="select">
                          <select name="time_min"></select>
                          <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                        </div>
                      </div>
                    </div>
                    <span class="time_symbol">~</span>
                    <div class="time_item">
                      <div class="flex_container_s">
                        <div class="select">
                          <select name="time_hour"></select>
                          <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                        </div>
                        <span>:</span>
                        <div class="select">
                          <select name="time_min"></select>
                          <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </dd>
              <dt class="form_term">電話番号<span class="req">必須</span></dt>
              <dd class="form_description tel"><%= form.text_field :tel, placeholder:"0120-000-0000", required: true %></dd>
              <dt class="form_term">料金<span class="req">必須</span></dt>
              <dd class="form_description price">
                <div class="form_item">
                  <span>大人</span><%= form.text_field :tel, placeholder:"無料", name:"adult_fee", required: true %>
                </div>
                <div class="form_item">
                  <span>子ども</span><%= form.text_field :tel, placeholder:"無料", name:"child_fee", required: true %>
                </div>
              </dd>
              <%= form.hidden_field :hours, required: true %>
              <%= form.hidden_field :fee, required: true %>
              <%= form.submit "更新する", class:"submit_btn" %>
            </dl>
          <% end %>
        </div>
        <div class="content_frame" id="facility_edit">
          <div class="parkinfo_edit_ttl">
            <h2>設備情報の編集</h2>
            <p>【ダミーテキスト】一部の情報は、Googleサービスを利用する他のユーザーに表示される場合があります。<%= link_to "詳細", "/help" %></p>
          </div>
            <dl class="label_style_item">
              <dt class="form_term">駐車場について<span class="any">任意</span></dt>
              <div class="label_content" id="parking_labels">
                <label class="label_style label_style_bg parking"><input class="label_style_checkbox" type="checkbox" name="parking" value="" id="check_id">無料駐車場</label>
                <label class="label_style label_style_bg parking"><input class="label_style_checkbox" type="checkbox" name="parking" value="" id="check_id">有料駐車場</label>
                <label class="label_style label_style_bg parking"><input class="label_style_checkbox" type="checkbox" name="parking" value="" id="check_id">大型バス駐車OK</label>
                <label class="label_style label_style_bg parking"><input class="label_style_checkbox" type="checkbox" name="parking" value="" id="check_id">駐輪場</label>
                <label class="label_style label_style_bg parking"><input class="label_style_checkbox" type="checkbox" name="parking" value="" id="check_id">EV充電スタンド</label>
                <label class="label_style label_style_bg parking"><input class="label_style_checkbox" type="checkbox" name="parking" value="" id="check_id">立体駐車場</label>
                <label class="label_style label_style_bg parking"><input class="label_style_checkbox" type="checkbox" name="parking" value="" id="check_id">近隣コインパーキング</label>
              </div>
            </dl>
            <dl class="label_style_item">
              <dt class="form_term">トイレについて<span class="any">任意</span></dt>
              <div class="label_content" id="toilet_labels">
                <label class="label_style label_style_bg"><input class="label_style_checkbox" type="checkbox" name="toilet" value="" id="check_id">男女別トイレ</label>
                <label class="label_style label_style_bg"><input class="label_style_checkbox" type="checkbox" name="toilet" value="" id="check_id">子ども用トイレ</label>
                <label class="label_style label_style_bg"><input class="label_style_checkbox" type="checkbox" name="toilet" value="" id="check_id">おむつ交換台</label>
                <label class="label_style label_style_bg"><input class="label_style_checkbox" type="checkbox" name="toilet" value="" id="check_id">ベビーケアルーム</label>
                <label class="label_style label_style_bg"><input class="label_style_checkbox" type="checkbox" name="toilet" value="" id="check_id">ベビーチェア</label>
                <label class="label_style label_style_bg"><input class="label_style_checkbox" type="checkbox" name="toilet" value="" id="check_id">オストメイト用設備</label>
                <label class="label_style label_style_bg"><input class="label_style_checkbox" type="checkbox" name="toilet" value="" id="check_id">バリアフリー</label>
                <label class="label_style label_style_bg"><input class="label_style_checkbox" type="checkbox" name="toilet" value="" id="check_id">着替え台</label>
              </div>
            </dl>
            <dl class="label_style_item">
              <dt class="form_term">遊具について<span class="any">任意</span></dt>
              <div class="label_content" id="playground_labels">
                <label class="label_style label_style_bg"><input class="label_style_checkbox" type="checkbox" name="playground" value="" id="check_id">滑り台</label>
                <label class="label_style label_style_bg"><input class="label_style_checkbox" type="checkbox" name="playground" value="" id="check_id">ブランコ</label>
                <label class="label_style label_style_bg"><input class="label_style_checkbox" type="checkbox" name="playground" value="" id="check_id">うんてい</label>
                <label class="label_style label_style_bg"><input class="label_style_checkbox" type="checkbox" name="playground" value="" id="check_id">ジャングルジム</label>
                <label class="label_style label_style_bg"><input class="label_style_checkbox" type="checkbox" name="playground" value="" id="check_id">鉄棒</label>
                <label class="label_style label_style_bg"><input class="label_style_checkbox" type="checkbox" name="playground" value="" id="check_id">スプリング遊具</label>
              </div>
            </dl>
            <%= form_for(@park, url:{controller:'park', action:'parkinfo_edit'}) do |form| %>
            <%= form.hidden_field :parking_info %>
            <%= form.hidden_field :toilet_info %>
            <%= form.hidden_field :playground_info %>
            <%= form.submit "更新する", class:"submit_btn" %>
          <% end %>
        </div>
        <div class="content_frame" id="picture_edit">
          <div class="parkinfo_edit_ttl">
            <h2>写真の管理</h2>
            <p>【ダミーテキスト】一部の情報は、Googleサービスを利用する他のユーザーに表示される場合があります。<%= link_to "詳細", "/help" %></p>
          </div>
          <% if @pictures.exists? %>
          <div class="item_head flex_container">
            <div><label class="label_style"><input type="checkbox" name="all_select" class="label_style_checkbox"></label></div>
            <div></div>
            <div>ファイル名<span>↓</span></div>
            <div>アップロード日<span>↓</span></div>
            <div>ファイルサイズ<span>↓</span></div>
          </div>
          <% else %>
            <p>写真がアップロードされていません。</p>
          <% end %>
          
            <div class="picture_content">
              <% @pictures.each do |picture| %>
                <ul class="picture_list">
                  <li class="item">
                    <div class="item_element flex_container">
                      <div><label class="label_style"><input type="checkbox" name="pic" value="" class="label_style_checkbox"></label></div>
                      <div>
                        <% if picture %>
                          <%= image_tag picture.picture.to_s, class:'thumbnail' %>
                        <% else %>
                          <%= image_tag "/common/picture_edit_dummy.jpg" %>
                        <% end %>
                      </div>
                      <div><%= picture.name %></div>
                      <div><%= picture.created_at.to_s[0,10] %></div>
                      <div><%= picture.size %></div>
                    </div>
                  </li>
                </ul>
              <% end %>
                <label id="upload_box">
                  <div id="upload_form">
                    <%= form_with model: @picture, local:true do |f| %>
                      <%= f.hidden_field :park_id, {value: @park.id} %>
                      <p>写真の名前</p>
                      <%= f.hidden_field :name, required: true, id:'img_name' %>
                      <%= f.hidden_field :size, required: true, id:'img_size' %>
                      <%= f.file_field :picture, id:'img_file', accept:'image/*', required: true %>
                      <%= f.submit "写真を追加", id:'add_picture_submit' %>
                    <% end %>
                  </div>
                </label>
                <div class="flex_container_s">
                  <button class="submit_btn" id="add_picture">写真を追加する</button>
                  <%= form_for(@park, url:{controller:'park', action:'parkinfo_edit'}) do |f| %>
                      <%= f.hidden_field "pic_list", {value: ''} %>
                      <%= f.submit "選択した写真を削除する", class: "btn btn_g delete_btn" %>
                  <% end %>
                </div>
            </div>
        </div>
        <div class="content_frame" id="contact_edit">
          <div class="parkinfo_edit_ttl">
            <h2>お問い合わせ先の編集</h2>
          </div>
          <%= form_for(@park, url:{controller:'park', action:'parkinfo_edit'}) do |form| %>
            <dl>
              <dt class="form_term">電話番号<span class="any">任意</span></dt>
              <dd class="form_description">
                <%= form.text_field :tel, placeholder:"0000-000-0000" %>
              </dd>
              <dt class="form_term">WEBサイト<span class="any">任意</span></dt>
              <dd class="form_description">
                <%= form.url_field :website, placeholder:"https://example.com" %>
              </dd>
            </dl>
            <%= form.submit "更新する", class:"submit_btn" %>
          <% end %>
        </div>
      </div>
      <aside class="sidebar_parkedit sidebar_menu">
        <div class="sidebar_parkedit_ttl">ショートカットメニュー</div>
        
        <div class="sidebar_parkedit_item">
          <%= link_to '#basicinfo_edit' do %>
            <%= image_tag "/sidebar/icon_side_arrow.svg" %>基本情報の編集
          <% end %>
        </div>
        <div class="sidebar_parkedit_item">
          <%= link_to '#facility_edit' do %>
            <%= image_tag "/sidebar/icon_side_arrow.svg" %>設備情報の編集
          <% end %>
        </div>
        <div class="sidebar_parkedit_item">
          <%= link_to '#picture_edit' do %>
            <%= image_tag "/sidebar/icon_side_arrow.svg" %>写真の管理
          <% end %>
        </div>
        <div class="sidebar_parkedit_item">
          <%= link_to '#contact_edit' do %>
            <%= image_tag "/sidebar/icon_side_arrow.svg" %>お問い合わせ先の編集
          <% end %>
        </div>
      </aside>
    </div>
  </div>
</div>
</div>
<div id="cover"></div>
</main>

<%= javascript_pack_tag 'parkinfo_edit' %>
