<main>
<div id="products">
<div class="wrap flex_container_start">
  <div class="menu-trigger tab_sp" href="javascript:void(0);">
	<span class="spnavButton__border"></span>
	<span class="spnavButton__border"></span>
	<span class="spnavButton__border"></span>
</div>

<%= render partial: "shared/aside" %>
  <div class="inner_large">
    <div class="page_ttl_wrap">
      <div class="page_ttl">
        <h1>プロダクト</h1>
        <p class="page_ttl_txt"><%= current_user.name %>さん、こんにちは。<br class="sp">現在の公園の情報を確認しましょう。</p>
      </div>
    </div>
    <div class="content flex_container_start">
      <div class="control_panel_content">
        <div class="content_frame">
          <div class="products_ttl flex_container">
            <h2>プロダクト一覧</h2>
            <div class="content_btn flex_container_s">
              <div class="select">
                <%= image_tag "/common/icon_filter.svg" %>
                <select name="filter">
                  <option value="default">絞り込み</option>
                  <option value="">スマートベンチ</option>
                  <option value="">ライブカメラ</option>
                </select>
              </div>
              <div class="create_btn tab">
                <a class="btn hover" href="">
                  <%= image_tag "/common/icon_add.svg" %>
                  プロダクトの追加
                </a>
              </div>
            </div>
          </div>
          <div>
            <div class="item_head flex_container">
              <div></div>
              <div></div>
              <div>名称</div>
              <div>OS</div>
              <div>導入日</div>
              <div>位置情報</div>
            </div>
            <div class="products_content">
              <ul class="products_list">
                <li class="item">
                  <a href="/controlpanel/<%= @bench.id %>">
                    <div class="item_element flex_container">
                      <div><%= image_tag "/ctrlpanel/icon_shortcut_check.svg" %></div>
                      <div class="products_icon"><%= image_tag "/products/icon_bench_error.svg" %></div>
                      <div><%= @bench.name %><br>スマートベンチ</div>
                      <div><%= @bench.os_name %></div>
                      <div><%= @bench.introduced_date %></div>
                      <div><%= @bench.position %><br><object><a href="https://goo.gl/maps/pLPTXNQhMVX8WUdu5" target="_blank">Mapで確認する</a></object></div>
                    </div>
                  </a>
                  <div class="popup_btn">…</div>
                  <div class="popup_window">
                    <span class="popup_close">×</span>
                    <ul>
                      <li class="edit_btn">
                        <a href="">編集する</a>
                      </li>
                      <li data-action="confirm_delete" class="delete_btn">削除する</li>
                    </ul>
                  </div>
                </li>
                <li class="item">
                  <a href="#">
                    <div class="item_element flex_container">
                      <div><%= image_tag "/ctrlpanel/icon_shortcut_check.svg" %></div>
                      <div class="products_icon"><%= image_tag "/products/icon_bench.svg" %></div>
                      <div>B4ENZ7<br>スマートベンチ</div>
                      <div>0.1.4</div>
                      <div>2022.10.08</div>
                      <div>36.638782299109444<br><object><a href="https://goo.gl/maps/pLPTXNQhMVX8WUdu5" target="_blank">Mapで確認する</a></object></div>
                    </div>
                  </a>
                  <div class="popup_btn">…</div>
                  <div class="popup_window" style="display: none;">
                    <span class="popup_close">×</span>
                    <ul>
                      <li class="edit_btn">
                        <a href="">編集する</a>
                      </li>
                      <li data-action="confirm_delete" class="delete_btn">削除する</li>
                    </ul>
                  </div>
                </li>
                <li class="item">
                  <a href="#">
                    <div class="item_element flex_container">
                      <div><span class="camela_status live">LIVE</span></div>
                      <div class="products_icon"><%= image_tag "/products/icon_camela.svg" %></div>
                      <div><%= @camera.name %><br>ライブカメラ</div>
                      <div><%= @camera.os_name %></div>
                      <div><%= @camera.introduced_date %></div>
                      <div><%= @camera.position %><br><object><a href="https://goo.gl/maps/pLPTXNQhMVX8WUdu5" target="_blank">Mapで確認する</a></object></div>
                    </div>
                  </a>
                  <div class="popup_btn">…</div>
                  <div class="popup_window" style="display: none;">
                    <span class="popup_close">×</span>
                    <ul>
                      <li class="edit_btn">
                        <a href="">編集する</a>
                      </li>
                      <li data-action="confirm_delete" class="delete_btn">削除する</li>
                    </ul>
                  </div>
                </li>
                <li class="item">
                  <a href="#">
                    <div class="item_element flex_container">
                      <div><span class="camela_status stop">停止</span></div>
                      <div class="products_icon"><%= image_tag "/products/icon_camela_stop.svg" %></div>
                      <div>B4ENZ7<br>ライブカメラ</div>
                      <div>0.1.4</div>
                      <div>2022.10.08</div>
                      <div>36.638782299109444<br><object><a href="https://goo.gl/maps/pLPTXNQhMVX8WUdu5" target="_blank">Mapで確認する</a></object></div>
                    </div>
                  </a>
                  <div class="popup_btn">…</div>
                  <div class="popup_window" style="display: none;">
                    <span class="popup_close">×</span>
                    <ul>
                      <li class="edit_btn">
                        <a href="">編集する</a>
                      </li>
                      <li data-action="confirm_delete" class="delete_btn">削除する</li>
                    </ul>
                  </div>
                </li>
                <li class="item">
                  <a href="#">
                    <div class="item_element flex_container">
                      <div><%= image_tag "/ctrlpanel/icon_shortcut_check.svg" %></div>
                      <div class="products_icon"><%= image_tag "/products/icon_bench.svg" %></div>
                      <div>B4ENZ7<br>スマートベンチ</div>
                      <div>0.1.4</div>
                      <div>2022.10.08</div>
                      <div>36.638782299109444<br><object><a href="https://goo.gl/maps/pLPTXNQhMVX8WUdu5" target="_blank">Mapで確認する</a></object></div>
                    </div>
                  </a>
                  <div class="popup_btn">…</div>
                  <div class="popup_window" style="display: none;">
                    <span class="popup_close">×</span>
                    <ul>
                      <li class="edit_btn">
                        <a href="">編集する</a>
                      </li>
                      <li data-action="confirm_delete" class="delete_btn">削除する</li>
                    </ul>
                  </div>
                </li>
                <li class="item">
                  <a href="#">
                    <div class="item_element flex_container">
                      <div><%= image_tag "/ctrlpanel/icon_shortcut_check.svg" %></div>
                      <div class="products_icon"><%= image_tag "/products/icon_bench.svg" %></div>
                      <div>B4ENZ7<br>スマートベンチ</div>
                      <div>0.1.4</div>
                      <div>2022.10.08</div>
                      <div>36.638782299109444<br><object><a href="https://goo.gl/maps/pLPTXNQhMVX8WUdu5" target="_blank">Mapで確認する</a></object></div>
                    </div>
                  </a>
                  <div class="popup_btn">…</div>
                  <div class="popup_window" style="display: none;">
                    <span class="popup_close">×</span>
                    <ul>
                      <li class="edit_btn">
                        <a href="">編集する</a>
                      </li>
                      <li data-action="confirm_delete" class="delete_btn">削除する</li>
                    </ul>
                  </div>
                </li>
                <li class="item">
                  <a href="#">
                    <div class="item_element flex_container">
                      <div><%= image_tag "/ctrlpanel/icon_shortcut_check.svg" %></div>
                      <div class="products_icon"><%= image_tag "/products/icon_bench.svg" %></div>
                      <div>B4ENZ7<br>スマートベンチ</div>
                      <div>0.1.4</div>
                      <div>2022.10.08</div>
                      <div>36.638782299109444<br><object><a href="https://goo.gl/maps/pLPTXNQhMVX8WUdu5" target="_blank">Mapで確認する</a></object></div>
                    </div>
                  </a>
                  <div class="popup_btn">…</div>
                  <div class="popup_window" style="display: none;">
                    <span class="popup_close">×</span>
                    <ul>
                      <li class="edit_btn">
                        <a href="">編集する</a>
                      </li>
                      <li data-action="confirm_delete" class="delete_btn">削除する</li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="create_btn sp">
          <a class="btn hover" href="">
            <%= image_tag "/common/icon_add.svg" %>
            プロダクトの追加
          </a>
        </div>
      </div>
      <aside class="sidebar_products sidebar_menu sidebar_cp">
        <div class="sidebar_item todays_weather">
          <div class="sidebar_cp_item_ttl"><%= image_tag "/weather/icon_weather_pin.svg" %>石川県金沢市</div>
          <div class="todays_weather_txt">今日 4月29日(金)の天気</div>
          <div class="flex_container">
            <div class="temperature"><span>21</span><span>℃</span><br>晴れ時々曇り</div>
            <div class="weather_icon"><%= image_tag "/weather/icon_sunny.svg", alt: "今日の天気" %></div>
          </div>
          <%= image_tag "/weather/icon_weather_dummy.svg", style: "margin-top: 20px;" %>
        </div>
      </aside>
    </div>
  </div>
</div>
</main>
