<br>
<br>
<br>
<br>
<br>
<p id="admin_title">管理画面</p>
<p id="back"><a href="/admin/add">データを追加する>></a></p>
<br>
<p id="back"><a href="/admin/command">コマンドによる制御操作>></a></p>

<%= form_with url:'index',local:false do |form| %>
    <%= form.select(:category, ["ユーザー", "公園", "ベンチ", "写真", "イベント", "プロダクト", "ショートカット", "ベンチからのデータ", "ベンチへのコマンド"],{}, required: true) %>
    <%= form.submit "表示" %>
<% end %>

<div class="table_name" id="user">
<h2>ユーザー</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>表示名</th>
        <th>メールアドレス</th>
        <th>郵便番号</th>
        <th>住所(都道府県)</th>
        <th>住所(市区町村)</th>
        <th>それ以降の住所</th>
        <th>電話番号</th>
        <th>自治体名</th>
        <th>所属課</th>
        <th>プロフィール画像</th>
        <th>プロフィール内容</th>
        <th>メール通知設定</th>
        <th>通知フラグ</th>
        <th>管理者メモ</th>
        <th colspan="2"></th>
    </tr>
    <% @users.each do |user| %>
        <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.zip %></td>
            <td><%= user.prefecture %></td>
            <td><%= user.city %></td>
            <td><%= user.street %></td>
            <td><%= user.tel %></td>
            <td><%= user.municipality %></td>
            <td><%= user.division %></td>
            <td><%= user.image %></td>
            <td><%= user.profile %></td>
            <td><%= user.notification %></td>
            <td><%= user.flag %></td>
            <td><%= user.admin_memo %></td>
            <td>
                <%= form_tag('edit') do %>
                    <%= text_field_tag 'user_id', user.id , class: 'edit_id' %>
                    <%= button_to '編集'%>
                <% end %>
            </td>
            <td>
                <%= form_tag('delete') do %>
                    <%= text_field_tag 'user_id', user.id , class: 'edit_id' %>
                    <%= button_to '削除'%>
                <% end %>
            </td>
        </tr>
    <% end %>
</table>
<%= paginate @users %>
</div>


<div class="table_name" id="park">
<h2>公園</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>ユーザーID</th>
        <th>公園名</th>
        <th>郵便番号</th>
        <th>住所(都道府県)</th>
        <th>住所(市区町村)</th>
        <th>それ以降の住所</th>
        <th>営業時間</th>
        <th>電話番号</th>
        <th>入場料金</th>
        <th>Google Map</th>
        <th>公式ホームページ</th>
        <th>面積</th>
        <th>紹介文</th>
        <th>状況</th>
        <th>駐車場情報</th>
        <th>トイレ情報</th>
        <th>遊具情報</th>
        <th>施設情報</th>
        <th>スポーツ情報</th>
        <th>景観情報</th>
        <th>防災情報</th>
        <th>その他情報</th>
        <th>iframe</th>
        <th colspan="2"></th>
    </tr>
    <% @parks.each do |park| %>
        <tr>
            <td><%= park.id %></td>
            <td><%= park.user_id %></td>
            <td><%= park.name %></td>
            <td><%= park.zip %></td>
            <td><%= park.prefecture %></td>
            <td><%= park.city %></td>
            <td><%= park.street %></td>
            <td><%= park.hours %></td>
            <td><%= park.tel %></td>
            <td><%= park.fee %></td>
            <td><%= park.map %></td>
            <td><%= park.website %></td>
            <td><%= park.size %></td>
            <td><%= park.profile %></td>
            <td><%= park.status %></td>
            <td><%= park.parking_info %></td>
            <td><%= park.toilet_info %></td>
            <td><%= park.playground_info %></td>
            <td><%= park.facility_info %></td>
            <td><%= park.sports_info %></td>
            <td><%= park.view_info %></td>
            <td><%= park.disaster_info %></td>
            <td><%= park.other_info %></td>
            <td><%= park.iframe %></td>
            <td>
                <%= form_tag('edit') do %>
                    <%= text_field_tag 'park_id', park.id , class: 'edit_id' %>
                    <%= button_to '編集'%>
                <% end %>
            </td>
            <td>
                <%= form_tag('delete') do %>
                    <%= text_field_tag 'park_id', park.id , class: 'edit_id' %>
                    <%= button_to '削除'%>
                <% end %>
            </td>
        </tr>
    <% end %>
</table>
<%= paginate @parks %>
</div>


<div class="table_name" id="bench">
<h2>ベンチ</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>所属公園ID</th>
        <th>ベンチ名</th>
        <th>MACアドレス</th>
        <th>OS</th>
        <th>導入日</th>
        <th>位置情報</th>
        <th>タイマーON/OFF</th>
        <th colspan="2"></th>
    </tr>
    <% @benches.each do |bench| %>
        <tr>
            <td><%= bench.id %></td>
            <td><%= bench.park_id %></td>
            <td><%= bench.name %></td>
            <td><%= bench.mac_address %></td>
            <td><%= bench.os_name %></td>
            <td><%= bench.introduced_date %></td>
            <td><%= bench.position %></td>
            <td><%= bench.timer %></td>
            <td>
                <%= form_tag('edit') do %>
                    <%= text_field_tag 'bench_id', bench.id , class: 'edit_id' %>
                    <%= button_to '編集'%>
                <% end %>
            </td>
            <td>
                <%= form_tag('delete') do %>
                    <%= text_field_tag 'bench_id', bench.id , class: 'edit_id' %>
                    <%= button_to '削除'%>
                <% end %>
            </td>
        </tr>
    <% end %>
</table>
<%= paginate @benches %>
</div>


<div class="table_name" id="picture">
<h2>写真</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>所属公園ID</th>
        <th>写真のタイトル</th>
        <th>写真のパス</th>
        <th>サイズ</th>
        <th colspan="2"></th>
    </tr>
    <% @pictures.each do |picture| %>
        <tr>
            <td><%= picture.id %></td>
            <td><%= picture.park_id %></td>
            <td><%= picture.name %></td>
            <td><%= picture.picture %></td>
            <td><%= picture.size %></td>
            <td>
                <%= form_tag('edit') do %>
                    <%= text_field_tag 'picture_id', picture.id , class: 'edit_id' %>
                    <%= button_to '編集'%>
                <% end %>
            </td>
            <td>
                <%= form_tag('delete') do %>
                    <%= text_field_tag 'picture_id', picture.id , class: 'edit_id' %>
                    <%= button_to '削除'%>
                <% end %>
            </td>
        </tr>
    <% end %>
</table>
<%= paginate @pictures %>
</div>


<div class="table_name" id="event">
<h2>イベント</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>所属公園ID</th>
        <th>イベント名</th>
        <th>写真</th>
        <th>説明</th>
        <th colspan="2"></th>
    </tr>
    <% @events.each do |event| %>
        <tr>
            <td><%= event.id %></td>
            <td><%= event.park_id %></td>
            <td><%= event.name %></td>
            <td><%= event.image %></td>
            <td><%= event.contents %></td>
            <td>
                <%= form_tag('edit') do %>
                    <%= text_field_tag 'event_id', event.id , class: 'edit_id' %>
                    <%= button_to '編集'%>
                <% end %>
            </td>
            <td>
                <%= form_tag('delete') do %>
                    <%= text_field_tag 'event_id', event.id , class: 'edit_id' %>
                    <%= button_to '削除'%>
                <% end %>
            </td>
        </tr>
    <% end %>
</table>
<%= paginate @events %>
</div>


<div class="table_name" id="product">
<h2>プロダクト</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>所属公園ID</th>
        <th>プロダクト名</th>
        <th>説明</th>
        <th colspan="2"></th>
    </tr>
    <% @products.each do |product| %>
        <tr>
            <td><%= product.id %></td>
            <td><%= product.park_id %></td>
            <td><%= product.name %></td>
            <td><%= product.contents %></td>
            <td>
                <%= form_tag('edit') do %>
                    <%= text_field_tag 'product_id', product.id , class: 'edit_id' %>
                    <%= button_to '編集'%>
                <% end %>
            </td>
            <td>
                <%= form_tag('delete') do %>
                    <%= text_field_tag 'product_id', product.id , class: 'edit_id' %>
                    <%= button_to '削除'%>
                <% end %>
            </td>
        </tr>
    <% end %>
</table>
<%= paginate @products %>
</div>


<div class="table_name" id="shortcut">
<h2>ショートカット</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>ベンチID</th>
        <th>ショートカット名</th>
        <th>プログラム内容</th>
        <th>導入日</th>
        <th colspan="2"></th>
    </tr>
    <% @shortcuts.each do |shortcut| %>
        <tr>
            <td><%= shortcut.id %></td>
            <td><%= shortcut.bench_id %></td>
            <td><%= shortcut.name %></td>
            <td><%= shortcut.program %></td>
            <td><%= shortcut.introduced_date %></td>
            <td>
                <%= form_tag('edit') do %>
                    <%= text_field_tag 'shortcut_id', shortcut.id , class: 'edit_id' %>
                    <%= button_to '編集'%>
                <% end %>
            </td>
            <td>
                <%= form_tag('delete') do %>
                    <%= text_field_tag 'shortcut_id', shortcut.id , class: 'edit_id' %>
                    <%= button_to '削除'%>
                <% end %>
            </td>
        </tr>
    <% end %>
</table>
<%= paginate @shortcuts %>
</div>





<br>
<br>
<br>
<br>
<br>
<br>