<h2>公園一覧</h2>
<table>
    <thead>
      <tr>
        <th>公園名</th>
      </tr>
    </thead>
    <tbody>
      <% @parks.each do |park| %>
        <tr>
          <td><%= park.name %></td>
          <td><%= link_to "編集", '/' %></td>
          <td><%= link_to "削除", '/', method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
</table>
<%= link_to "公園追加", '/' %>
<%= link_to "ログアウト", logout_path, method: :delete %>