<main>
<div id="changepwd">
<div class="wrap flex_container_start">
  <div class="menu-trigger tab_sp" href="javascript:void(0);">
	<span class="spnavButton__border"></span>
	<span class="spnavButton__border"></span>
	<span class="spnavButton__border"></span>
</div>

<%= render partial: "shared/aside" %>
  <div id="account_related" class="inner_mid">
    <div class="page_ttl_wrap">
      <div class="page_ttl">
        <h1>ログイン情報</h1>
      </div>
    </div>
    <div class="content">
      <div class="content_frame">
        <div class="account_item account_item_ttl">
          <dt><h2>パスワードの変更</h2></dt>
          <dd>ダミーテキストダミーテキストダミーテキストダミーテキスト<a href="">詳細</a></dd>
        </div>
        <div class="account_form_wrap">
        <%= form_for(@user, url:{controller:'user', action:'changepwd'}) do |form| %>
            <div class="txt_field">
              <dt class="form_term">現在のパスワード<span class="req">必須</span></dt>
              <dd class="form_description"><%= form.password_field :password, placeholder:"現在のパスワードを入力", required: true %></dd>
              <span class="ex"><%= link_to "現在のパスワードをお忘れですか？", new_password_reset_path %></span>
            </div>
            <div class="txt_field">
              <dt class="form_term">新しいパスワード<span class="req">必須</span></dt>
              <dd class="form_description"><%= form.password_field :password_confirmation, placeholder:"新しいパスワードを入力",type: "password", required: true, id: "new_password" %></dd>
              <span class="ex">半角英数字8文字以上</span>
            </div>
            <div class="txt_field">
              <dt class="form_term">新しいパスワード（確認用）<span class="req">必須</span></dt>
              <dd class="form_description"><%= form.password_field :password_confirmation, type: "password", required: true, id: "new_password_confirm" %></dd>
              <span class="ex">上と同じパスワードを入力してください</span>
              <p id="match_message">パスワードが一致していません。</p>
            </div>
            <div id="update_btn_filter"></div>
            <%= form.submit "パスワードを変更する", class: "btn btn_g", id:"update_btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</main>
<script>
let new_password = document.getElementById('new_password');
let new_password_confirm = document.getElementById('new_password_confirm');
let match_message = document.getElementById('match_message');
let update_btn_filter = document.getElementById('update_btn_filter');
let update_btn = document.getElementById('update');

new_password.addEventListener('change', function() {
    judgeMatch();
});
new_password_confirm.addEventListener('change', function() {
    judgeMatch();
});

function  judgeMatch() {
    if(new_password.value == new_password_confirm.value){
      match_message.textContent = '';
      update_btn_filter.style.display = 'none';
    } else {
      match_message.textContent = 'パスワードが一致していません。';
      update_btn_filter.style.display = 'block';
    }
}
</script>