<br>
<br>
<br>
<br>
<br>
<br>
<p id="admin_title">ユーザー登録ページです。</p>
<p id="back"><a href="/admin/index">adminトップに戻る>></a></p>

<div id="user">
<%= form_for(@user, url:{controller:'user', action:'register'}) do |form| %>
    <div class="form-group">
        <label for="display_name">表示名（必須）</label>
        <%= form.text_field :display_name, class:"form", required: true %>
    </div>
    <div class="form-group">
        <label for="email">メールアドレス（必須）</label>
        <%= form.text_field :email, class:"form", required: true %>
    </div>
    <div class="form-group">
        <label for="zip">郵便番号</label>
        <%= form.text_field :zip, class:"form" %>
    </div>
    <div class="form-group">
        <label for="prefecture">住所(都道府県)</label>
        <%= form.text_field :prefecture, class:"form" %>
    </div>
    <div class="form-group">
        <label for="address">住所(市区町村)</label>
        <%= form.text_field :address, class:"form" %>
    </div>
    <div class="form-group">
        <label for="street">それ以降の住所</label>
        <%= form.text_field :street, class:"form" %>
    </div>
    <div class="form-group">
        <label for="tel">電話番号</label>
        <%= form.text_field :tel, class:"form" %>
    </div>
    <div class="form-group">
        <label for="municipality">自治体名（必須）</label>
        <%= form.text_field :municipality, class:"form", required: true %>
    </div>
    <div class="form-group">
        <label for="division">所属課（必須）</label>
        <%= form.text_field :division, class:"form", required: true %>
    </div>
    <div class="form-group">
        <label for="image">プロフィール画像</label>
        <%= form.text_field :image, class:"form" %>
    </div>
    <div class="form-group">
        <label for="profile">プロフィール内容</label>
        <%= form.text_field :profile, class:"form" %>
    </div>
    <div class="form-group">
        <label for="notification">メール通知設定</label>
        <%= form.text_field :notification, class:"form" %>
    </div>
    <div class="form-group">
        <label for="flag">通知フラグ</label>
        <%= form.text_field :flag, class:"form" %>
    </div>
    <div class="form-group">
        <label for="admin_memo">管理者メモ</label>
        <%= form.text_field :admin_memo, class:"form" %>
    </div>
    <%= form.submit "作成" %>
<% end %>
</div>
<br>
<br>
<br>
<br>
<br>
<br>