<br>
<br>
<br>
<br>
<br>
<br>
<p id="admin_title">アカウント登録ページです。</p>

<div id="user">
<%= form_for(@user, url:{controller:'user', action:'signupmail_confirm'}) do |form| %>
    <div class="form-group">
        <label for="name">表示名（必須）</label>
        <%= form.text_field :name, class:"form", required: true %>
    </div>
    <div class="form-group">
        <label for="email">メールアドレス（必須）</label>
        <%= form.email_field :email, class:"form", required: true %>
    </div>
    <div class="form-group">
        <label for="password">パスワード（必須）</label>
        <%= form.text_field :password, class:"form", required: true %>
    </div>
    <div class="form-group">
        <label for="zip">郵便番号（必須）</label>
        <%= form.text_field :zip, class:"form", required: true %>
    </div>
    <div class="form-group">
        <label for="prefecture">住所(都道府県)（必須）</label>
        <%= form.text_field :prefecture, class:"form", required: true %>
    </div>
    <div class="form-group">
        <label for="city">住所(市区町村)（必須）</label>
        <%= form.text_field :city, class:"form", required: true %>
    </div>
    <div class="form-group">
        <label for="street">それ以降の住所（必須）</label>
        <%= form.text_field :street, class:"form", required: true %>
    </div>
    <div class="form-group">
        <label for="tel">電話番号（必須）</label>
        <%= form.text_field :tel, class:"form", required: true %>
    </div>
    <div class="form-group">
        <label for="municipality">自治体名（必須）</label>
        <%= form.text_field :municipality, class:"form", required: true %>
    </div>
    <div class="form-group">
        <label for="division">所属課（必須）</label>
        <%= form.text_field :division, class:"form", required: true %>
    </div>
    <div class="form-group">
        <label for="profile">プロフィール内容（必須）</label>
        <%= form.text_field :profile, class:"form", required: true %>
    </div>
    <%= form.submit "作成" %>
<% end %>
</div>
<br>
<br>
<br>
<br>
<br>
<br>