<main>
<div id="signupmail">
<div id="login_related">
  <div class="inner_min">
    <div class="logo">
      <%= image_tag "/common/os-logo.svg", alt: "PARCOM OS" %>
    </div>
    <div class="login_related_content">
      <h1>アカウントを作成する</h1>
        <%= form_for(@user, url:{controller:'user', action:'signupmail'}, name:"pre_register", local:true) do |f| %>
        <!--
        <p id="submit_failed" class="caution" style="display:none;"><%= image_tag "/signin_warning.png" %>メールアドレスまたはパスワードが空欄です</p>
        -->
      	<div class="txt_field">
          <dt class="form_term">メールアドレス</dt>
      		<dd class="form_description"><%= f.email_field :email, autofocus: true, id:"login_email", size: "40", placeholder: "メールアドレスを入力してください" %></dd>
          <span class="ex">アカウントを作成することにより、<%= link_to "利用規約", "/terms" %>および<%= link_to "プライバシーポリシー", "/privacy" %>を読み、これに同意するものとします。</span>
      	</div>
        <%= f.submit '仮登録メールを送信する', class:"btn" %>
      <% end %>
    </div>
    <div class="new_signup_wrap">
      <p>PARCOM ADMINのアカウントをすでにお持ちですか？<br><%= link_to "ログインはこちら", action:'index' %></p>
    </div>
  </div>
</div>
</main>