<main>
<div id="article">
  <div class="wrap flex_container_start">
  <div class="menu-trigger tab_sp" href="javascript:void(0);">
	<span class="spnavButton__border"></span>
	<span class="spnavButton__border"></span>
	<span class="spnavButton__border"></span>
</div>

<%= render partial: "shared/aside" %>
  <div class="inner_large">
    <div class="page_ttl_wrap">
      <div class="page_ttl">
        <h1>PARCOMに関するお知らせ</h1>
      </div>
    </div>
    <div class="content flex_container_start">
      <div class="news_content">
        <div class="article_items flex_container_wrap">
                                                  <div class="article_item">
                <%= link_to "#" do %>
                  <div class="article_img_cat">
                    <%= image_tag "/common/noimage.jpg", alt: "noimage" %>
                  <div class="cat">導入事例</div>
                  </div>
                  <div class="article_txt">
                    <div class="news_time">2022-11-02 (Wed)</div>
                    <h2>〇〇市〇〇〇〇公園にてスマートベンチが導入されました。</h2>
                  </div>
                <% end %>
              </div>
                                        <div class="article_item">
                <%= link_to "#" do %>
                  <div class="article_img_cat">
                      <%= image_tag "/common/noimage.jpg", alt: "noimage" %>
                  <div class="cat">メディア情報</div>
                  </div>
                  <div class="article_txt">
                    <div class="news_time">2022-11-02 (Wed)</div>
                    <h2>〇〇〇〇〇〇〇〇〇〇〇〇に掲載されました。</h2>
                  </div>
                <% end %>
              </div>
                                        <div class="article_item">
                <%= link_to "#" do %>
                  <div class="article_img_cat">
                      <%= image_tag "/common/noimage.jpg", alt: "noimage" %>
                  <div class="cat">お知らせ</div>
                  </div>
                  <div class="article_txt">
                    <div class="news_time">2022-11-02 (Wed)</div>
                    <h2>〇〇〇〇〇〇〇〇に出展します。</h2>
                  </div>
                <% end %>
              </div>
                                        <div class="article_item">
                <%= link_to "#" do %>
                  <div class="article_img_cat">
                      <%= image_tag "/common/noimage.jpg", alt: "noimage" %>
                  <div class="cat">導入事例</div>
                  </div>
                  <div class="article_txt">
                    <div class="news_time">2022-11-02 (Wed)</div>
                    <h2>〇〇市〇〇公園にてスマートベンチが導入されました。</h2>
                  </div>
                <% end %>
              </div>
                      </div>
          <div class="pagenavi">
            <div class='wp-pagenavi' role='navigation'>
<span aria-current='page' class='current'>1</span>
</div>          </div>
              </div>
      <aside class="sidebar_news sidebar_menu">
  <div class="sidebar_news_ttl">お知らせカテゴリ</div>
    <div class="sidebar_news_item">
    <a href="#">
      お知らせ      <%= image_tag "/sidebar/icon_side_arrow.svg" %>
    </a>
  </div>
    <div class="sidebar_news_item">
    <a href="#">
      メディア情報      <%= image_tag "/sidebar/icon_side_arrow.svg" %>
    </a>
  </div>
    <div class="sidebar_news_item">
    <a href="#">
      導入事例      <%= image_tag "/sidebar/icon_side_arrow.svg" %>
    </a>
  </div>
  </aside>
    </div>
  </div>
</div>
</main>
