<main>
<div id="article">
  <div class="wrap flex_container_start">
  <div class="menu-trigger tab_sp" href="javascript:void(0);">
	<span class="spnavButton__border"></span>
	<span class="spnavButton__border"></span>
	<span class="spnavButton__border"></span>
</div>

<aside class="sidebar_product">
  <div class="sidebar_product_ttl">公園一覧</div>
  <div class="park_item">
    <div class="park_name">内灘サンセットパーク</div>
   <ul>
      <li>
        <%= link_to '/park/parkinfo_edit', class: "hover" do %>
          <%= image_tag "/sidebar/icon_park_side_off.svg", alt: "情報編集" %>公園の情報編集
        <% end %>
      </li>
      <li>
        <%= link_to '/park/products', class: "hover" do %>
          <%= image_tag "/sidebar/icon_product_side_off.svg", alt: "プロダクト" %>プロダクト
          <span class="notification_num">2</span>
        <% end %>
      </li>
      <li>
        <%= link_to '/parcom/review', class: "hover" do %>
          <%= image_tag "/sidebar/icon_review_side_off.svg", alt: "口コミ" %>クチコミ
        <% end %>
      </li>
      <li>
        <%= link_to '/analyze/index', class: "hover" do %>
          <%= image_tag "/sidebar/icon_analyze_side_off.svg", alt: "分析" %>分析
        <% end %>
      </li>
    </ul>
  </div>
  <div class="park_item">
    <div class="park_name">内灘町総合公園</div>
    <ul>
      <li>
        <%= link_to '/park/parkinfo_edit', class: "hover" do %>
          <%= image_tag "/sidebar/icon_park_side_off.svg", alt: "情報編集" %>公園の情報編集
        <% end %>
      </li>
      <li>
        <%= link_to '/park/products', class: "hover" do %>
          <%= image_tag "/sidebar/icon_product_side_off.svg", alt: "プロダクト" %>プロダクト
          <span class="notification_num">2</span>
        <% end %>
      </li>
      <li>
        <%= link_to '/parcom/review', class: "hover" do %>
          <%= image_tag "/sidebar/icon_review_side_off.svg", alt: "口コミ" %>クチコミ
        <% end %>
      </li>
      <li>
        <%= link_to '/analyze/index', class: "hover" do %>
          <%= image_tag "/sidebar/icon_analyze_side_off.svg", alt: "分析" %>分析
        <% end %>
      </li>
    </ul>
  </div>
  <div class="park_item">
    <div class="park_name">ハマナス恐竜公園</div>
    <ul>
			<li>
        <%= link_to '/park/parkinfo_edit', class: "hover" do %>
          <%= image_tag "/sidebar/icon_park_side_off.svg", alt: "情報編集" %>公園の情報編集
        <% end %>
      </li>
      <li>
        <%= link_to '/park/products', class: "hover" do %>
          <%= image_tag "/sidebar/icon_product_side_off.svg", alt: "プロダクト" %>プロダクト
          <span class="notification_num">2</span>
        <% end %>
      </li>
      <li>
        <%= link_to '/parcom/review', class: "hover" do %>
          <%= image_tag "/sidebar/icon_review_side_off.svg", alt: "口コミ" %>クチコミ
        <% end %>
      </li>
      <li>
        <%= link_to '/analyze/index', class: "hover" do %>
          <%= image_tag "/sidebar/icon_analyze_side_off.svg", alt: "分析" %>分析
        <% end %>
      </li>
    </ul>
  </div>
  <div class="park_item">
    <div class="park_name">白帆台第４公園</div>
    <ul>
			<li>
        <%= link_to '/park/parkinfo_edit', class: "hover" do %>
          <%= image_tag "/sidebar/icon_park_side_off.svg", alt: "情報編集" %>公園の情報編集
        <% end %>
      </li>
      <li>
        <%= link_to '/park/products', class: "hover" do %>
          <%= image_tag "/sidebar/icon_product_side_off.svg", alt: "プロダクト" %>プロダクト
          <span class="notification_num">2</span>
        <% end %>
      </li>
      <li>
        <%= link_to '/parcom/review', class: "hover" do %>
          <%= image_tag "/sidebar/icon_review_side_off.svg", alt: "口コミ" %>クチコミ
        <% end %>
      </li>
      <li>
        <%= link_to '/analyze/index', class: "hover" do %>
          <%= image_tag "/sidebar/icon_analyze_side_off.svg", alt: "分析" %>分析
        <% end %>
      </li>
    </ul>
  </div>
  <div class="sidebar_help">
    <div class="sidebar_help_ttl"><%= image_tag "/sidebar/icon_speechbubble.svg" %>ヘルプページはこちら</div>
    <p>使い方やよくあるご質問等をまとめています。</p>
    <%= link_to '/parcom/help', class: "btn hover flex_container" do %>
      ヘルプはこちらから<%= image_tag "/sidebar/icon_arrow_help_off.svg" %>
    <% end %>
  </div>
</aside>
  <div class="inner_large">
    <div class="page_ttl_wrap">
      <div class="page_ttl">
        <h1>PARCOMに関するお知らせ</h1>
      </div>
    </div>
    <div class="content flex_container_start">
      <div class="news_content">
        <div class="article_items flex_container_wrap">
                                                  <div class="article_item">
                <%= link_to "http://app.parcom.jp/test/article/%e3%80%87%e3%80%87%e5%b8%82%e3%80%87%e3%80%87%e3%80%87%e3%80%87%e5%85%ac%e5%9c%92%e3%81%ab%e3%81%a6%e3%82%b9%e3%83%9e%e3%83%bc%e3%83%88%e3%83%99%e3%83%b3%e3%83%81%e3%81%8c%e5%b0%8e%e5%85%a5%e3%81%95" do %>
                  <div class="article_img_cat">
                    <%= image_tag "/common/noimage.jpg", alt: "noimage" %>
                  <div class="cat">導入事例</div>
                  </div>
                  <div class="article_txt">
                    <div class="news_time">2022-11-02 (Wed)</div>
                    <h2>〇〇市〇〇〇〇公園にてスマートベンチが導入されました。</h2>
                  </div>
                <% end %>
              </div>
                                        <div class="article_item">
                <%= link_to "http://app.parcom.jp/test/article/%e3%80%87%e3%80%87%e3%80%87%e3%80%87%e3%80%87%e3%80%87%e3%80%87%e3%80%87%e3%80%87%e3%80%87%e3%80%87%e3%80%87%e3%81%ab%e6%8e%b2%e8%bc%89%e3%81%95%e3%82%8c%e3%81%be%e3%81%97%e3%81%9f%e3%80%82" do %>
                  <div class="article_img_cat">
                      <%= image_tag "/common/noimage.jpg", alt: "noimage" %>
                  <div class="cat">メディア情報</div>
                  </div>
                  <div class="article_txt">
                    <div class="news_time">2022-11-02 (Wed)</div>
                    <h2>〇〇〇〇〇〇〇〇〇〇〇〇に掲載されました。</h2>
                  </div>
                <% end %>
              </div>
                                        <div class="article_item">
                <%= link_to "http://app.parcom.jp/test/article/%e3%80%87%e3%80%87%e3%80%87%e3%80%87%e3%80%87%e3%80%87%e3%80%87%e3%80%87%e3%81%ab%e5%87%ba%e5%b1%95%e3%81%97%e3%81%be%e3%81%99%e3%80%82" do %>
                  <div class="article_img_cat">
                      <%= image_tag "/common/noimage.jpg", alt: "noimage" %>
                  <div class="cat">お知らせ</div>
                  </div>
                  <div class="article_txt">
                    <div class="news_time">2022-11-02 (Wed)</div>
                    <h2>〇〇〇〇〇〇〇〇に出展します。</h2>
                  </div>
                <% end %>
              </div>
                                        <div class="article_item">
                <%= link_to "http://app.parcom.jp/test/article/%e3%80%87%e3%80%87%e5%b8%82%e3%80%87%e3%80%87%e5%85%ac%e5%9c%92%e3%81%ab%e3%81%a6%e3%82%b9%e3%83%9e%e3%83%bc%e3%83%88%e3%83%99%e3%83%b3%e3%83%81%e3%81%8c%e5%b0%8e%e5%85%a5%e3%81%95%e3%82%8c%e3%81%be" do %>
                  <div class="article_img_cat">
                      <%= image_tag "/common/noimage.jpg", alt: "noimage" %>
                  <div class="cat">導入事例</div>
                  </div>
                  <div class="article_txt">
                    <div class="news_time">2022-11-02 (Wed)</div>
                    <h2>〇〇市〇〇公園にてスマートベンチが導入されました。</h2>
                  </div>
                <% end %>
              </div>
                      </div>
          <div class="pagenavi">
            <div class='wp-pagenavi' role='navigation'>
<span aria-current='page' class='current'>1</span>
</div>          </div>
              </div>
      <aside class="sidebar_news sidebar_menu">
  <div class="sidebar_news_ttl">お知らせカテゴリ</div>
    <div class="sidebar_news_item">
    <a href="http://app.parcom.jp/test/cat_article/%e3%81%8a%e7%9f%a5%e3%82%89%e3%81%9b/">
      お知らせ      <%= image_tag "/sidebar/icon_side_arrow.svg" %>
    </a>
  </div>
    <div class="sidebar_news_item">
    <a href="http://app.parcom.jp/test/cat_article/%e3%83%a1%e3%83%87%e3%82%a3%e3%82%a2%e6%83%85%e5%a0%b1/">
      メディア情報      <%= image_tag "/sidebar/icon_side_arrow.svg" %>
    </a>
  </div>
    <div class="sidebar_news_item">
    <a href="http://app.parcom.jp/test/cat_article/%e5%b0%8e%e5%85%a5%e4%ba%8b%e4%be%8b/">
      導入事例      <%= image_tag "/sidebar/icon_side_arrow.svg" %>
    </a>
  </div>
  </aside>
    </div>
  </div>
</div>
</main>
