<main>
<div id="controlpanel">
<div class="wrap flex_container_start">
  <div class="menu-trigger tab_sp" href="javascript:void(0);">
	<span class="spnavButton__border"></span>
	<span class="spnavButton__border"></span>
	<span class="spnavButton__border"></span>
</div>

<%= render partial: "shared/aside" %>
<div id="controlpanel" class="inner_large">
    <div class="page_ttl_wrap">
      <div class="page_ttl">
        <h1>コントロールパネル</h1>
        <p class="page_ttl_txt">下記のプロダクトの管理ページです。</p>
      </div>
    </div>
    <div class="content flex_container_start">
      <div class="control_panel_content">
        <div class="selected_product">
          <div class="selected_product_txt">現在選択中</div>
          <div class="selected_product_item">
            <div class="item_element flex_container">
              <div class="selected_item">
                <%= image_tag "/ctrlpanel/icon_bench.svg", alt: "選択中のベンチアイコン" %>
              </div>
              <div class="selected_item">
                <div>名称</div>
                <div><%= @bench.name %></div>
              </div>
              <div class="selected_item">
                <div>OS</div>
                <div><%= @bench.os_name %></div>
              </div>
              <div class="selected_item">
                <div>導入日</div>
                <div><%= @bench.introduced_date %></div>
              </div>
              <div class="selected_item">
                <div>位置情報</div>
                <div id="product_latlng"><%= @bench.position %></div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex_container_wrap panel_item_wrap">
          <div class="panel_item">
            <div class="panel_item_content">
              <div class="panel_item_ttl">
                <%= image_tag "/ctrlpanel/icon_palette_color.svg", alt: "LEDカラーの変更" %>
                <h2>LEDカラーの変更</h2>
                <p>ベンチのLEDのカラー変更が可能です。カラーコードを指定するとお好きなカラーを指定することができます。</p>
              </div>
              <div class="form_item">
                <label>プリセットカラーから選択する</label>
                <input type="color" class="preset_color" id="preset_red" value="#EF5658">
                <input type="color" class="preset_color" id="preset_orange" value="#FF803C">
                <input type="color" class="preset_color" id="preset_yellow" value="#FFDE2B">
                <input type="color" class="preset_color" id="preset_green" value="#44D049">
                <input type="color" class="preset_color" id="preset_skyblue" value="#6ABBEF">
                <input type="color" class="preset_color" id="preset_blue" value="#3C76F7">
                <input type="color" class="preset_color" id="preset_purple" value="#8556EF">
                <input type="color" class="preset_color" id="preset_white" value="#F0F3F8">
              </div>
              <div class="form_item">
                <label>カラーコードで指定する</label>
                <input name="led_color" id="led_color" type="text" value="" placeholder="#ffffff">
              </div>
            </div>
            <div class="onoff_switch flex_container">
              <div class="onoff_status">
                <p class="on">現在ONになっています</p>
                <p class="off">現在OFFになっています</p>
              </div>
              <div class="toggle">
                <input type="checkbox" name="led_switch" value="LED">
                <span>OFF</span>
                <span>ON</span>
                <div class="command_switch" id="led_switch"></div>
              </div>
            </div>
          </div>
          <div class="panel_item">
            <div class="panel_item_content">
              <div class="panel_item_ttl">
                <%= image_tag "/ctrlpanel/icon_watch_color.svg", alt: "LEDタイマーの設定" %>
                <h2>LEDタイマーの設定</h2>
                <p>設定時間になると自動的にLEDが点灯または消灯するように設定が可能です。</p>
              </div>
              <div class="flex_container_s flex_container_time form_item">
                <div class="time_item">
                  <label>タイマー開始時間</label>
                  <div class="flex_container_s">
                    <div class="select">
                      <select name="led_start_time_hour" id="led_start_time_hour">
                                                <option value="00"
                          selected>
                          00                        </option>
                                                <option value="01"
                          >
                          01                        </option>
                                                <option value="02"
                          >
                          02                        </option>
                                                <option value="03"
                          >
                          03                        </option>
                                                <option value="04"
                          >
                          04                        </option>
                                                <option value="05"
                          >
                          05                        </option>
                                                <option value="06"
                          >
                          06                        </option>
                                                <option value="07"
                          >
                          07                        </option>
                                                <option value="08"
                          >
                          08                        </option>
                                                <option value="09"
                          >
                          09                        </option>
                                                <option value="10"
                          >
                          10                        </option>
                                                <option value="11"
                          >
                          11                        </option>
                                                <option value="12"
                          >
                          12                        </option>
                                                <option value="13"
                          >
                          13                        </option>
                                                <option value="14"
                          >
                          14                        </option>
                                                <option value="15"
                          >
                          15                        </option>
                                                <option value="16"
                          >
                          16                        </option>
                                                <option value="17"
                          >
                          17                        </option>
                                                <option value="18"
                          >
                          18                        </option>
                                                <option value="19"
                          >
                          19                        </option>
                                                <option value="20"
                          >
                          20                        </option>
                                                <option value="21"
                          >
                          21                        </option>
                                                <option value="22"
                          >
                          22                        </option>
                                                <option value="23"
                          >
                          23                        </option>
                                              </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                    <span>:</span>
                    <div class="select">
                      <select name="led_start_time_min" id="led_start_time_min">
                                                <option value="00"
                          selected>
                          00                        </option>
                                                <option value="05"
                          >
                          05                        </option>
                                                <option value="10"
                          >
                          10                        </option>
                                                <option value="15"
                          >
                          15                        </option>
                                                <option value="20"
                          >
                          20                        </option>
                                                <option value="25"
                          >
                          25                        </option>
                                                <option value="30"
                          >
                          30                        </option>
                                                <option value="35"
                          >
                          35                        </option>
                                                <option value="40"
                          >
                          40                        </option>
                                                <option value="45"
                          >
                          45                        </option>
                                                <option value="50"
                          >
                          50                        </option>
                                                <option value="55"
                          >
                          55                        </option>
                                              </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                  </div>
                </div>
                <span class="time_symbol">~</span>
                <div class="time_item">
                  <label>タイマー終了時間</label>
                  <div class="flex_container_s">
                    <div class="select">
                      <select name="led_end_time_hour" id="led_end_time_hour">
                                                <option value="00"
                          selected>
                          00                        </option>
                                                <option value="01"
                          >
                          01                        </option>
                                                <option value="02"
                          >
                          02                        </option>
                                                <option value="03"
                          >
                          03                        </option>
                                                <option value="04"
                          >
                          04                        </option>
                                                <option value="05"
                          >
                          05                        </option>
                                                <option value="06"
                          >
                          06                        </option>
                                                <option value="07"
                          >
                          07                        </option>
                                                <option value="08"
                          >
                          08                        </option>
                                                <option value="09"
                          >
                          09                        </option>
                                                <option value="10"
                          >
                          10                        </option>
                                                <option value="11"
                          >
                          11                        </option>
                                                <option value="12"
                          >
                          12                        </option>
                                                <option value="13"
                          >
                          13                        </option>
                                                <option value="14"
                          >
                          14                        </option>
                                                <option value="15"
                          >
                          15                        </option>
                                                <option value="16"
                          >
                          16                        </option>
                                                <option value="17"
                          >
                          17                        </option>
                                                <option value="18"
                          >
                          18                        </option>
                                                <option value="19"
                          >
                          19                        </option>
                                                <option value="20"
                          >
                          20                        </option>
                                                <option value="21"
                          >
                          21                        </option>
                                                <option value="22"
                          >
                          22                        </option>
                                                <option value="23"
                          >
                          23                        </option>
                                              </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                    <span>:</span>
                    <div class="select">
                      <select name="led_end_time_min" id="led_end_time_min">
                                                <option value="00"
                          selected>
                          00                        </option>
                                                <option value="05"
                          >
                          05                        </option>
                                                <option value="10"
                          >
                          10                        </option>
                                                <option value="15"
                          >
                          15                        </option>
                                                <option value="20"
                          >
                          20                        </option>
                                                <option value="25"
                          >
                          25                        </option>
                                                <option value="30"
                          >
                          30                        </option>
                                                <option value="35"
                          >
                          35                        </option>
                                                <option value="40"
                          >
                          40                        </option>
                                                <option value="45"
                          >
                          45                        </option>
                                                <option value="50"
                          >
                          50                        </option>
                                                <option value="55"
                          >
                          55                        </option>
                                              </select>
                      <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form_item">
                <label>繰り返し</label>
                <div class="select">
                  <select name="" id="led_repeat">
                    <option value="0">繰り返ししない</option>
                    <option value="1">繰り返しする</option>
                  </select>
                  <div class="arrow arrow_bottom"><%= image_tag "/common/icon_arrow.svg", class: "arrow" %></div>
                </div>
              </div>
            </div>
            <div class="onoff_switch flex_container">
              <div class="onoff_status">
                <p class="on">現在ONになっています</p>
                <p class="off">現在OFFになっています</p>
              </div>
              <div class="toggle">
                <input type="checkbox" name="ledtime_switch" value="LEDTIME">
                <span>OFF</span>
                <span>ON</span>
                <div class="command_switch" id="ledtime_switch"></div>
              </div>
            </div>
          </div>
          <div class="panel_item">
            <div class="panel_item_content">
              <div class="panel_item_ttl">
                <%= image_tag "/ctrlpanel/icon_img_color.svg", alt: "画像ファイルの表示" %>
                <h2>ディスプレイの表示</h2>
                <p>ディスプレイに表示されている画像・動画を非表示にして、ディスプレイの電源を切ることができます。</p>
              </div>
              <div class="flex_container_start upload_item">
                <div id="upload" class="upload_img">
                  <label class="upload_file">
                    <%= image_tag "/common/icon_upload.svg", alt: "アイコン" %>
                    ここを<span>クリック</span>または<br>ドラッグ＆ドロップで<br>ファイルをアップロード
                    <%= form_with model:@bench_image, local:false do |f| %>
                      <%= f.file_field :image, id:'pdf_file', accept:'image/*,.pdf' %>
                      <%= f.submit "送信", id:"pdf_submit" %>
                    <% end %>
                  </label>
                </div>
                <div class="preview">
                  <label>プレビュー</label>
                  <div class="preview_file preview_file_img" id="preview">
                    <%= image_tag "/ctrlpanel/icon_preview_close.svg", class: "preview_close_btn", alt: "閉じるボタン" %>
                    <% if @bench_image_now %>
                      <!--<iframe src="<%= @bench_image_now.name %>" id="preview_image"></iframe>-->
                      <%= image_tag @bench_image_now.image.to_s, id:"preview_image" %>
                    <% else %>
                      <%= image_tag "/ctrlpanel/preview_dummy.svg", id: "preview_dummy", alt: "プレビューファイル" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="onoff_switch flex_container">
              <div class="onoff_status">
                <p class="on">現在ONになっています</p>
                <p class="off">現在OFFになっています</p>
              </div>
              <div class="toggle">
                <input type="checkbox" name="display_switch" value="DISPLAY">
                <input type="hidden" name="display_url" value="">
                <span>OFF</span>
                <span>ON</span>
                <div class="command_switch" id="display_switch"></div>
              </div>
            </div>
          </div>
          <div class="panel_item">
            <div class="panel_item_content">
              <div class="panel_item_ttl">
                <%= image_tag "/ctrlpanel/icon_vol_color.svg", alt: "スピーカーの音量調節" %>
                <h2>スピーカーの音量調節</h2>
                <p>ベンチのスピーカーの音量調節が可能です。●ボタンをスライドさせることで音量を調節することができます。</p>
              </div>
              <div>
                <div id="volume_container">
                  <div id="volume_subcontainer">
                    <div class="volume">現在のボリューム<br><p>0</p></div>
                  </div>
                </div>
                <input type="range" value="0" id="volume_input">
              </div>
            </div>
            <div class="onoff_switch flex_container">
              <div class="onoff_status">
                <p class="on">現在ONになっています</p>
                <p class="off">現在OFFになっています</p>
              </div>
              <div class="toggle">
                <input type="checkbox" name="audio_switch" value="AUDIO">
                <span>OFF</span>
                <span>ON</span>
                <div class="command_switch" id="audio_switch"></div>
              </div>
            </div>
          </div>
          <div class="panel_item">
            <div class="panel_item_content">
              <div class="panel_item_ttl">
                <%= image_tag "/ctrlpanel/icon_video_color.svg", alt: "動画ファイルの表示" %>
                <h2>映像ファイルの表示</h2>
                <p>ベンチのモニターに動画を表示することが可能です。シーンに合わせて動画を自由に変更できます。</p>
              </div>
              <div class="flex_container_start upload_item">
                <div id="upload" class="upload_video">
                  <label class="upload_file">
                    <%= image_tag "/common/icon_upload.svg", alt: "アイコン" %>
                    ここを<span>クリック</span>または<br>ドラッグ＆ドロップで<br>ファイルをアップロード
                    <%= form_with model: @bench_video, local:false do |f| %>
                      <%= f.file_field :video, id:'movie_file', accept:'video/*' %>
                      <%= f.submit "送信", id:"movie_submit" %>
                    <% end %>
                  </label>
                </div>
                <div class="preview">
                  <label>プレビュー</label>
                  <div class="preview_file preview_file_video">
                    <% if @bench_video_now %>
                      <%= video_tag(@bench_video_now.video.to_s, loop: true, autoplay: true, muted: true, controls: true, id:"mp4_preview_video") %>
                    <% else %>
                      <%= image_tag "/ctrlpanel/preview_noimage.svg", id:"mp4_preview_dummy", alt: "現在何も表示されていません" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="onoff_switch flex_container">
              <div class="onoff_status">
                <p class="on">現在ONになっています</p>
                <p class="off">現在OFFになっています</p>
              </div>
              <div class="toggle">
                <input type="checkbox" name="mp4_switch" value="MP4">
                <input type="hidden" name="mp4_url" value="">
                <span>OFF</span>
                <span>ON</span>
                <div class="command_switch" id="mp4_switch"></div>
              </div>
            </div>
          </div>
          <div class="panel_item">
            <div class="panel_item_content">
              <div class="panel_item_ttl">
                <%= image_tag "/ctrlpanel/icon_audio_color.svg", alt: "音楽ファイルの再生" %>
                <h2>音楽ファイルの再生</h2>
                <p>ベンチのスピーカーから音楽を再生することが可能です。シーンに合わせて音楽を自由に変更できます。</p>
              </div>
              <div class="flex_container_start upload_item">
                <div id="upload" class="upload_audio">
                  <label class="upload_file">
                    <%= image_tag "/common/icon_upload.svg", alt: "アイコン" %>
                    ここを<span>クリック</span>または<br>ドラッグ＆ドロップで<br>ファイルをアップロード
                    <%= form_with model: @bench_audio, local:false do |f| %>
                      <%= f.hidden_field :name, id:'audio_name' %>
                      <%= f.file_field :audio, :size => 140, id:'audio_file', accept:'audio/mp3' %>
                      <%= f.submit "送信", id:"audio_submit" %>
                    <% end %>
                  </label>
                </div>
                <div class="preview">
                  <label>プレビュー</label>
                  <div class="preview_file preview_file_audio">
                    <% if @bench_audio_now %>
                      <div class="form_attachment_preview" id="audio_preview"><%= @bench_audio_now.name %><button type="button" class="delete_cancel_btn">×</button></div>
                    <% else %>
                      <div class="form_attachment_preview" id="audio_preview">default.mp3<button type="button" class="delete_cancel_btn">×</button></div>
                    <% end %>
                  </div>
                </div>
              </div>
              <% if @bench_audio_now %>
                <audio src= "<%= "#{@bench_audio_now.audio}" %>" controls="" id="audio_player">
              <% end %>
            </div>
            <div class="onoff_switch flex_container">
              <div class="onoff_status">
                <p class="on">現在ONになっています</p>
                <p class="off">現在OFFになっています</p>
              </div>
              <div class="toggle">
                <input type="checkbox" name="mp3_switch" value="MP3">
                <input type="hidden" name="mp3_url" value="">
                <span>OFF</span>
                <span>ON</span>
                <div class="command_switch" id="mp3_switch"></div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <aside class="sidebar_cp">
  <div>
    <div class="shortcut_banner">

    <%#= link_to "/shortcut/#{@bench.park_id}", class: "hover" do %>
        <%#= image_tag "/ctrlpanel/shortcut_create_banner_off.svg", alt: "ショートカットの作成はこちら" %>
    <%# end %>
    
    </div>
    <div class="sidebar_item todays_weather">
      <div class="sidebar_cp_item_ttl"><%= image_tag "/weather/icon_weather_pin.svg" %><%= @park.prefecture + @park.city %></div>
      <div class="todays_weather_txt">今日 <%= @month %>月<%= @day %>日(<%= @weekday %>)の天気</div>
      <div class="flex_container">
        <div class="temperature"><span>21</span><span>℃</span><br><%= @telop %></div>
        <div class="weather_icon"><%#= image_tag @weather_img, alt: "今日の天気" %></div>
      </div>
    </div>
    <div class="sidebar_item">
      <div class="sidebar_cp_item_ttl"><%= image_tag "/sidebar/icon_sidecp01.svg" %>ベンチのバッテリー</div>
      <div class="flex_container">
        <div id="sidebar_cp_graph">
          <div class="gragh_dummy"></div>
          <canvas id="battery_chart" class="ex_chart"></canvas>
        </div>
        <div class="sidebar_cp_item_content"><p>現在の電圧</p><span id="product_battery">0</span>V</div>
      </div>
    </div>
    <div class="sidebar_item">
      <div class="sidebar_cp_item_ttl"><%= image_tag "/sidebar/icon_sidecp01.svg" %>ベンチの着席情報</div>
      <div class="flex_container">
        <div id="sidebar_cp_graph">
          <div class="gragh_dummy"></div>
          <canvas id="human_chart" class="ex_chart"></canvas>
        </div>
        <div class="sidebar_cp_item_content"><p>現在の着席人数</p><span id="product_human_count">0</span>人</div>
      </div>
    </div>
    <div id="wifi_use" class="sidebar_item">
      <div class="sidebar_cp_item_ttl"><%= image_tag "/sidebar/icon_sidecp01.svg" %>Wi-Fi接続台数</div>
      <div class="flex_container">
        <div id="sidebar_cp_graph">
          <div class="gragh_dummy"></div>
          <canvas id="wifi_chart" class="ex_chart"></canvas>
        </div>
        <div class="sidebar_cp_item_content"><p>現在の接続台数</p><span id="product_wifi_count">0</span>台</div>
      </div>
    </div>
    <div class="sidebar_item">
      <div class="sidebar_cp_item_ttl"><%= image_tag "/sidebar/icon_sidecp01.svg" %>データ通信使用量</div>
      <div class="flex_container">
        <div id="sidebar_cp_graph">
          <div class="gragh_dummy"></div>
          <canvas id="data_sum_chart" class="ex_chart"></canvas>
        </div>
        <div class="sidebar_cp_item_content"><p>通信使用量合計</p><span>0</span>MB</div>
      </div>
    </div>
  </div>
</aside>
    </div>
  </div>
</div>
<div id="data"><%= @data %></div>
<%= form_tag(url_for(:action => 'controlpanel'), :remote => true) do %>
    <%= submit_tag "データを更新" ,{id: "submitButton"} %>
<% end %>


<%= @response %>
<br>
<br>
<br>
<br>
<br>
<br>

</main>


<%= javascript_pack_tag 'controlpanel' %>
