<main>
<div id="help">
  <div class="help_ttl">
    <h1><span>PARCOM ADMIN</span>ヘルプセンター</h1>
    <input type="search" name="" value="" placeholder="知りたい内容についてご記入ください">
    <button type="submit">検索</button>
  </div>
  <div class="inner_help">
    <div class="help_link flex_container_wrap">
      <div class="help_link_item">
        <%= link_to '/parcom/beginners' do %>
          <%= image_tag "/help/icon_help01.svg", alt: "はじめての方" %>
          <p>はじめての方</p>
        <% end %>
      </div>
      <div class="help_link_item">
        <%= link_to '#' do %>
          <%= image_tag "/help/icon_help02.svg", alt: "PARCOM ADMINの使い方" %>
          <p>PARCOM ADMINの使い方</p>
        <% end %>
      </div>
      <div class="help_link_item">
        <%= link_to '#' do %>
          <%= image_tag "/help/icon_help03.svg", alt: "公園の管理" %>
          <p>公園の管理</p>
        <% end %>
      </div>
      <div class="help_link_item">
        <%= link_to '#' do %>
          <%= image_tag "/help/icon_help04.svg", alt: "コントロールパネル" %>
          <p>コントロールパネル</p>
        <% end %>
      </div>
      <div class="help_link_item">
        <%= link_to '#' do %>
          <%= image_tag "/help/icon_help05.svg", alt: "クチコミ" %>
          <p>クチコミ</p>
        <% end %>
      </div>
      <div class="help_link_item">
        <%= link_to '#' do %>
          <%= image_tag "/help/icon_help06.svg", alt: "分析" %>
          <p>分析</p>
        <% end %>
      </div>
    </div>
    <div class="help_faq">
      <div class="inner_mid">
        <h2>よくある質問</h2>
        <dl class="faq_list">
          <div class="faq_item">
            <dt class="faq_question"><span class="faq_icon">Q</span><p>仮登録完了メールが届きません。</p></dt>
            <dd class="faq_answer"><span class="faq_icon">A</span><p>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p></dd>
          </div>
          <div class="faq_item">
            <dt class="faq_question"><span class="faq_icon">Q</span><p>パスワード再設定メールが届きません。</p></dt>
            <dd class="faq_answer"><span class="faq_icon">A</span><p>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p></dd>
          </div>
          <div class="faq_item">
            <dt class="faq_question"><span class="faq_icon">Q</span><p>問い合わせ対応時間について教えてください。</p></dt>
            <dd class="faq_answer"><span class="faq_icon">A</span><p>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p></dd>
          </div>
          <div class="faq_item">
            <dt class="faq_question"><span class="faq_icon">Q</span><p>プロダクトを新しく追加したいのですが追加方法がわかりません。</p></dt>
            <dd class="faq_answer"><span class="faq_icon">A</span><p>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p></dd>
          </div>
          <div class="faq_item">
            <dt class="faq_question"><span class="faq_icon">Q</span><p>支払い方法について教えてください。</p></dt>
            <dd class="faq_answer"><span class="faq_icon">A</span><p>利用可能な支払い方法は以下の通りです。<br>・クレジットカード<br>・口座振替</p></dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="help_contact">
      <div class="inner_mid">
        <div class="help_contact_item flex_container">
          <div class="help_contact_item_txt">
            <p>ほかの方法で確認する</p>
            <p>ヘルプセンターにお問い合わせ内容がない場合や、解決しない場合はお気軽にお問い合わせフォームよりご連絡ください。</p>
            <p>営業時間：平日（土日祝日を除く）10:00〜19:00</p>
          </div>
          <div class="help_contact_item_link">
            <%= link_to "お問い合わせフォーム", "/parcom/contact", class: "btn" %>
            <p>※現在電話でのお問い合せ対応は承っておりません。ご了承ください。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</main>
