
<main>
<div id="top">
  <div class="wrap flex_container_start">
    <div class="menu-trigger tab_sp" href="javascript:void(0);">
	<span class="spnavButton__border"></span>
	<span class="spnavButton__border"></span>
	<span class="spnavButton__border"></span>
</div>

<aside class="sidebar_product">
  <div class="sidebar_product_ttl">公園一覧</div>
  <div class="park_item">
    <div class="park_name">内灘サンセットパーク</div>
   <ul>
      <li>
        <%= link_to '/park/parkinfo_edit', class: "hover" do %>
          <%= image_tag "/sidebar/icon_park_side_off.svg", alt: "情報編集" %>公園の情報編集
        <% end %>
      </li>
      <li>
        <%= link_to '/park/products', class: "hover" do %>
          <%= image_tag "/sidebar/icon_product_side_off.svg", alt: "プロダクト" %>プロダクト
          <span class="notification_num">2</span>
        <% end %>
      </li>
      <li>
        <%= link_to '/parcom/review', class: "hover" do %>
          <%= image_tag "/sidebar/icon_review_side_off.svg", alt: "口コミ" %>クチコミ
        <% end %>
      </li>
      <li>
        <%= link_to '/analyze/index', class: "hover" do %>
          <%= image_tag "/sidebar/icon_analyze_side_off.svg", alt: "分析" %>分析
        <% end %>
      </li>
    </ul>
  </div>
  <div class="park_item">
    <div class="park_name">内灘町総合公園</div>
    <ul>
      <li>
        <%= link_to '/park/parkinfo_edit', class: "hover" do %>
          <%= image_tag "/sidebar/icon_park_side_off.svg", alt: "情報編集" %>公園の情報編集
        <% end %>
      </li>
      <li>
        <%= link_to '/park/products', class: "hover" do %>
          <%= image_tag "/sidebar/icon_product_side_off.svg", alt: "プロダクト" %>プロダクト
          <span class="notification_num">2</span>
        <% end %>
      </li>
      <li>
        <%= link_to '/parcom/review', class: "hover" do %>
          <%= image_tag "/sidebar/icon_review_side_off.svg", alt: "口コミ" %>クチコミ
        <% end %>
      </li>
      <li>
        <%= link_to '/analyze/index', class: "hover" do %>
          <%= image_tag "/sidebar/icon_analyze_side_off.svg", alt: "分析" %>分析
        <% end %>
      </li>
    </ul>
  </div>
  <div class="park_item">
    <div class="park_name">ハマナス恐竜公園</div>
    <ul>
			<li>
        <%= link_to '/park/parkinfo_edit', class: "hover" do %>
          <%= image_tag "/sidebar/icon_park_side_off.svg", alt: "情報編集" %>公園の情報編集
        <% end %>
      </li>
      <li>
        <%= link_to '/park/products', class: "hover" do %>
          <%= image_tag "/sidebar/icon_product_side_off.svg", alt: "プロダクト" %>プロダクト
          <span class="notification_num">2</span>
        <% end %>
      </li>
      <li>
        <%= link_to '/parcom/review', class: "hover" do %>
          <%= image_tag "/sidebar/icon_review_side_off.svg", alt: "口コミ" %>クチコミ
        <% end %>
      </li>
      <li>
        <%= link_to '/analyze/index', class: "hover" do %>
          <%= image_tag "/sidebar/icon_analyze_side_off.svg", alt: "分析" %>分析
        <% end %>
      </li>
    </ul>
  </div>
  <div class="park_item">
    <div class="park_name">白帆台第４公園</div>
    <ul>
			<li>
        <%= link_to '/park/parkinfo_edit', class: "hover" do %>
          <%= image_tag "/sidebar/icon_park_side_off.svg", alt: "情報編集" %>公園の情報編集
        <% end %>
      </li>
      <li>
        <%= link_to '/park/products', class: "hover" do %>
          <%= image_tag "/sidebar/icon_product_side_off.svg", alt: "プロダクト" %>プロダクト
          <span class="notification_num">2</span>
        <% end %>
      </li>
      <li>
        <%= link_to '/parcom/review', class: "hover" do %>
          <%= image_tag "/sidebar/icon_review_side_off.svg", alt: "口コミ" %>クチコミ
        <% end %>
      </li>
      <li>
        <%= link_to '/analyze/index', class: "hover" do %>
          <%= image_tag "/sidebar/icon_analyze_side_off.svg", alt: "分析" %>分析
        <% end %>
      </li>
    </ul>
  </div>
  <div class="sidebar_help">
    <div class="sidebar_help_ttl"><%= image_tag "/sidebar/icon_speechbubble.svg" %>ヘルプページはこちら</div>
    <p>使い方やよくあるご質問等をまとめています。</p>
    <%= link_to '/parcom/help', class: "btn hover flex_container" do %>
      ヘルプはこちらから<%= image_tag "/sidebar/icon_arrow_help_off.svg" %>
    <% end %>
  </div>
</aside>
    <div class="inner_large" %>
      <div class="page_ttl_wrap">
        <div class="page_ttl">
          <h2>サービスに関するお知らせ</h2>
        </div>
      </div>
      <div class="content">
        <div class="news_content">
                              <div class="news_item">
            <a href="http://app.parcom.parcom/news/%e3%83%80%e3%83%9f%e3%83%bc%e3%83%86%e3%82%ad%e3%82%b9%e3%83%88%e3%83%80%e3%83%9f%e3%83%bc%e3%83%86%e3%82%ad%e3%82%b9%e3%83%88%e3%83%80%e3%83%9f%e3%83%bc%e3%83%86%e3%82%ad%e3%82%b9%e3%83%88%e3%83%80">
              <div class="flex_container_s">
                <div class="news_cat">お知らせ</div>
                <div class="news_time">2022-11-02 (Wed)</div>
                <div class="news_ttl"><h2>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</h2></div>
              </div>
            </a>
          </div>
                              <div class="news_item">
            <a href="http://app.parcom.parcom/news/%e3%81%8a%e5%95%8f%e3%81%84%e5%90%88%e3%82%8f%e3%81%9b%e7%aa%93%e5%8f%a3%e3%81%ae%e5%96%b6%e6%a5%ad%e6%99%82%e9%96%93%e5%a4%89%e6%9b%b4%e3%81%ab%e9%96%a2%e3%81%99%e3%82%8b%e3%81%8a%e7%9f%a5%e3%82%89">
              <div class="flex_container_s">
                <div class="news_cat">お知らせ</div>
                <div class="news_time">2022-11-02 (Wed)</div>
                <div class="news_ttl"><h2>お問い合わせ窓口の営業時間変更に関するお知らせ</h2></div>
              </div>
            </a>
          </div>
                              <div class="news_item">
            <a href="http://app.parcom.parcom/news/%e5%88%a9%e7%94%a8%e7%8a%b6%e6%b3%81%e3%81%ae%e3%83%87%e3%83%bc%e3%82%bf%e3%82%92%e3%83%80%e3%82%a6%e3%83%b3%e3%83%ad%e3%83%bc%e3%83%89%e3%81%a7%e3%81%8d%e3%82%8b%e3%82%88%e3%81%86%e3%81%ab%e3%81%aa">
              <div class="flex_container_s">
                <div class="news_cat">新機能・改善</div>
                <div class="news_time">2022-11-02 (Wed)</div>
                <div class="news_ttl"><h2>利用状況のデータをダウンロードできるようになりました。</h2></div>
              </div>
            </a>
          </div>
                  </div>
        <div class="more_btn">
          <a href="http://app.parcom.parcom/news">もっと見る<span>→</span></a>
        </div>
      </div>
      <div class="page_ttl_wrap page_ttl_wrap_article">
        <div class="page_ttl">
          <h2>PARCOMからのお知らせ</h2>
        </div>
      </div>
      <div class="content">
        <div class="news_content">
          <div class="article_items flex_container_wrap">
                                    <div class="article_item">
              <a href="http://app.parcom.parcom/article/%e3%80%87%e3%80%87%e5%b8%82%e3%80%87%e3%80%87%e3%80%87%e3%80%87%e5%85%ac%e5%9c%92%e3%81%ab%e3%81%a6%e3%82%b9%e3%83%9e%e3%83%bc%e3%83%88%e3%83%99%e3%83%b3%e3%83%81%e3%81%8c%e5%b0%8e%e5%85%a5%e3%81%95">
                <div class="article_img_cat">
                                       <%= image_tag "/common/noimage.jpg", alt: "noimage" %>
                                    <div class="cat">導入事例</div>
                </div>
                <div class="article_txt">
                  <div class="news_time">2022-11-02 (Wed)</div>
                  <h2>〇〇市〇〇〇〇公園にてスマートベンチが導入されました。</h2>
                </div>
              </a>
            </div>
                                    <div class="article_item">
              <a href="http://app.parcom.parcom/article/%e3%80%87%e3%80%87%e3%80%87%e3%80%87%e3%80%87%e3%80%87%e3%80%87%e3%80%87%e3%80%87%e3%80%87%e3%80%87%e3%80%87%e3%81%ab%e6%8e%b2%e8%bc%89%e3%81%95%e3%82%8c%e3%81%be%e3%81%97%e3%81%9f%e3%80%82">
                <div class="article_img_cat">
                                       <%= image_tag "/common/noimage.jpg", alt: "noimage" %>
                                    <div class="cat">メディア情報</div>
                </div>
                <div class="article_txt">
                  <div class="news_time">2022-11-02 (Wed)</div>
                  <h2>〇〇〇〇〇〇〇〇〇〇〇〇に掲載されました。</h2>
                </div>
              </a>
            </div>
                                    <div class="article_item">
              <a href="http://app.parcom.parcom/article/%e3%80%87%e3%80%87%e3%80%87%e3%80%87%e3%80%87%e3%80%87%e3%80%87%e3%80%87%e3%81%ab%e5%87%ba%e5%b1%95%e3%81%97%e3%81%be%e3%81%99%e3%80%82">
                <div class="article_img_cat">
                                       <%= image_tag "/common/noimage.jpg", alt: "noimage" %>
                                    <div class="cat">お知らせ</div>
                </div>
                <div class="article_txt">
                  <div class="news_time">2022-11-02 (Wed)</div>
                  <h2>〇〇〇〇〇〇〇〇に出展します。</h2>
                </div>
              </a>
            </div>
                                    <div class="article_item">
              <a href="http://app.parcom.parcom/article/%e3%80%87%e3%80%87%e5%b8%82%e3%80%87%e3%80%87%e5%85%ac%e5%9c%92%e3%81%ab%e3%81%a6%e3%82%b9%e3%83%9e%e3%83%bc%e3%83%88%e3%83%99%e3%83%b3%e3%83%81%e3%81%8c%e5%b0%8e%e5%85%a5%e3%81%95%e3%82%8c%e3%81%be">
                <div class="article_img_cat">
                                       <%= image_tag "/common/noimage.jpg", alt: "noimage" %>
                                    <div class="cat">導入事例</div>
                </div>
                <div class="article_txt">
                  <div class="news_time">2022-11-02 (Wed)</div>
                  <h2>〇〇市〇〇公園にてスマートベンチが導入されました。</h2>
                </div>
              </a>
            </div>
                      </div>
        </div>
        <div class="more_btn">
          <a href="http://app.parcom.parcom/article">もっと見る<span>→</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
</main>
