
<main>
<div id="top">
  <div class="wrap flex_container_start">
    <div class="menu-trigger tab_sp" href="javascript:void(0);">
	<span class="spnavButton__border"></span>
	<span class="spnavButton__border"></span>
	<span class="spnavButton__border"></span>
</div>

<%= render partial: "shared/aside" %>

    <div class="inner_large">
      <div class="page_ttl_wrap">
        <div class="page_ttl">
          <h2>サービスに関するお知らせ</h2>
        </div>
      </div>
      <div class="content">
        <div class="news_content">
            <% @news_datas.each do |data| %>
                <div class="news_item">
                    <a href="<%= data["link"] %>">
                      <div class="flex_container_s">
                        <div class="news_cat"><%= data["cat"] %></div>
                        <div class="news_time"><%= data["date"] %><%= data["wday"] %></div>
                        <div class="news_ttl"><%= data["title"] %></div>
                      </div>
                    </a>
                </div>
            <% end %>
        </div>
        <div class="more_btn">
          <a href="/news">もっと見る<span>→</span></a>
        </div>
      </div>
      <div class="page_ttl_wrap page_ttl_wrap_article">
        <div class="page_ttl">
          <h2>PARCOMからのお知らせ</h2>
        </div>
      </div>
      <div class="content">
        <div class="news_content">
          <div class="article_items flex_container_wrap">
            <% @article_datas.each do |data| %>
                <div class="article_item">
                    <a href="<%= data["link"] %>">
                      <div class="article_img_cat">
                        <% if data["thumbnail"].present? %>
                            <img src=<%= data["thumbnail"] %>>
                        <% else %>
                             <%= image_tag "/common/noimage.jpg", alt: "noimage" %>
                        <% end %>
                        <div class="cat"><%= data["cat"] %></div>
                      </div>
                      <div class="article_txt">
                        <div class="news_time"><%= data["date"] %><%= data["wday"] %></div>
                        <h2><%= data["title"] %></h2>
                      </div>
                    </a>
                </div>
            <% end %>
          </div>
        </div>
        <div class="more_btn">
          <a href="/article">もっと見る<span>→</span></a>
        </div>
      </div>
    </div>

  </div>
</div>
</main>
