<main>
<div id="news">
  <div class="wrap flex_container_start">
  <div class="menu-trigger tab_sp" href="javascript:void(0);">
	<span class="spnavButton__border"></span>
	<span class="spnavButton__border"></span>
	<span class="spnavButton__border"></span>
</div>

<%= render partial: "shared/aside" %>
  <div class="inner_large">
    <div class="page_ttl_wrap">
      <div class="page_ttl">
        <h1>サービスに関するお知らせ</h1>
      </div>
    </div>
    <div class="content flex_container_start">
      <div class="news_content">
          <% @news_datas.each do |data| %>
              <div class="news_item">
                  <a href="<%= data["link"] %>">
                    <div class="flex_container_s">
                      <div class="news_cat"><%= data["cat"] %></div>
                      <div class="news_time"><%= data["date"] %><%= data["wday"] %></div>
                      <div class="news_ttl"><%= data["title"] %></div>
                    </div>
                  </a>
              </div>
          <% end %>
          <%= paginate @pager %>
      </div>
      <aside class="sidebar_news sidebar_menu">
        <div class="sidebar_news_ttl">お知らせカテゴリ</div>
        <% @news_datas_cat.each do |data| %>
            <div class="sidebar_news_item">
              <a href="<%= data["link"] %>">
                <%= data["name"] %><%= image_tag "/sidebar/icon_side_arrow.svg" %>
              </a>
            </div>
        <% end %>
      </aside>
    </div>
  </div>
</div>
</main>
