<main>
<div id="park">
<div id="top">
  <div class="wrap flex_container_start">
    <div class="menu-trigger tab_sp" href="javascript:void(0);">
	<span class="spnavButton__border"></span>
	<span class="spnavButton__border"></span>
	<span class="spnavButton__border"></span>
</div>

<%= render partial: "shared/aside" %>
    <div class="inner_large">
      <div class="page_ttl_wrap">
        <div class="page_ttl">
          <h2>この公園の最新情報</h2>
        </div>
      </div>
      <div class="content">
        <div class="news_content">
                              <div class="news_item">
            <a href="#">
              <div class="flex_container_s">
                <div class="news_cat">プロダクト</div>
                <div class="news_time">2022-11-10 (Thu)</div>
                <div class="news_ttl"><h2>バッテリー残量が少ないベンチがあります。</h2></div>
              </div>
            </a>
          </div>
                              <div class="news_item">
            <a href="#">
              <div class="flex_container_s">
                <div class="news_cat">クチコミ</div>
                <div class="news_time">2022-11-10 (Thu)</div>
                <div class="news_ttl"><h2>新しいクチコミが1件あります。確認してみましょう！</h2></div>
              </div>
            </a>
          </div>
                              <div class="news_item">
            <a href="#">
              <div class="flex_container_s">
                <div class="news_cat">プロダクト</div>
                <div class="news_time">2022-11-10 (Thu)</div>
                <div class="news_ttl"><h2>24時間LEDが点灯しているベンチがあります。設定の見直しをしてみませんか？</h2></div>
              </div>
            </a>
          </div>
                  </div>
        <div class="graph">
          <p>グラフ要素</p>
        </div>
        <div class="park_info_items flex_container_wrap">
          <div class="park_info_item">
            <div class="flex_container_s">
              <div class="park_info_item_icon">
                <%= image_tag"/park/icon_parkinfo01.svg", alt: "全体のアクセス数" %>
              </div>
              <div class="park_info_item_ttl">
                <h3>全体のアクセス数</h3>
                <div class="park_info_item_num flex_container">
                  <p class="num plus">1,280</p>
                  <p class="percent plus">+12%<span class="percent_arrow">↗︎</span></p>
                </div>
              </div>
            </div>
            <div class="park_info_item_txt">
              <p>先週と比較して12%アクセス数が増加しました。</p>
            </div>
          </div>
          <div class="park_info_item">
            <div class="flex_container_s">
              <div class="park_info_item_icon">
                <%= image_tag"/park/icon_parkinfo02.svg", alt: "新規アクセス数" %>
              </div>
              <div class="park_info_item_ttl">
                <h3>新規アクセス数</h3>
                <div class="park_info_item_num flex_container">
                  <p class="num plus">960</p>
                  <p class="percent plus">+12%<span class="percent_arrow">↗︎</span></p>
                </div>
              </div>
            </div>
            <div class="park_info_item_txt">
              <p>先週と比較して12%新規アクセス数が増加しました。</p>
            </div>
          </div>
          <div class="park_info_item">
            <div class="flex_container_s">
              <div class="park_info_item_icon">
                <%= image_tag"/park/icon_parkinfo03.svg", alt: "再アクセス数" %>
              </div>
              <div class="park_info_item_ttl">
                <h3>再アクセス数</h3>
                <div class="park_info_item_num flex_container">
                  <p class="num minus">960</p>
                  <p class="percent minus">-2%<span class="percent_arrow">↘︎</span></p>
                </div>
              </div>
            </div>
            <div class="park_info_item_txt">
              <p>先週と比較して2%アクセス数が減少しました。</p>
            </div>
          </div>
          <div class="park_info_item">
            <div class="flex_container_s">
              <div class="park_info_item_icon">
                <%= image_tag"/park/icon_parkinfo04.svg", alt: "平均滞在時間" %>
              </div>
              <div class="park_info_item_ttl">
                <h3>平均滞在時間</h3>
                <div class="park_info_item_num flex_container">
                  <p class="num minus">00:05:16</p>
                  <p class="percent minus">-2%<span class="percent_arrow">↘︎</span></p>
                </div>
              </div>
            </div>
            <div class="park_info_item_txt">
              <p>先週と比較して2%平均滞在時間が減少しました。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="page_ttl_wrap page_ttl_wrap_article">
        <div class="page_ttl">
          <h2>ショートカットメニュー</h2>
        </div>
      </div>
      <div class="content">
        <div class="park_info_shortcut">
          <div class="flex_container_wrap">
            <div class="park_info_shortcut_item">
              <a href="/parkinfo_edit/<%= @park.id %>">
                <div class="park_info_shortcut_ttl flex_container_s">
                  <%= image_tag"/park/icon_park.svg", alt: "公園の情報編集" %>
                  <h3>公園の情報編集</h3>
                </div>
                <p>公園をアップデートして、情報を最適化しましょう。</p>
              </a>
            </div>
            <div class="park_info_shortcut_item">
              <a href="/products/<%= @park.id %>">
                <div class="park_info_shortcut_ttl flex_container_s">
                  <%= image_tag"/park/icon_product.svg", alt: "プロダクト" %>
                  <h3>プロダクト</h3>
                </div>
                <p>コントロールパネルで各プロダクトの操作が可能です。</p>
              </a>
            </div>
            <div class="park_info_shortcut_item">
              <a href="/review/<%= @park.id %>">
                <div class="park_info_shortcut_ttl flex_container_s">
                  <%= image_tag"/park/icon_review.svg", alt: "クチコミ" %>
                  <h3>クチコミ</h3>
                </div>
                <p>ユーザーからのクチコミを確認してみましょう。</p>
              </a>
            </div>
            <div class="park_info_shortcut_item">
              <a href="/analyze/<%= @park.id %>">
                <div class="park_info_shortcut_ttl flex_container_s">
                  <%= image_tag"/park/icon_analyze.svg", alt: "分析" %>
                  <h3>分析</h3>
                </div>
                <p>分析結果を確認して公園の現状を把握しましょう。</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</main>
